[2019-03-23 10:38] ionspin opened #2 "Floating point arithmetic support"
**Is your feature request related to a problem? Please describe.**
I'm frustrated that this library is called BigNum, and it doesn't support BigDecimal

**Describe the solution you'd like**
Floating point operations are supported

**Describe alternatives you've considered**
Huh, that's a good question.

**Additional context**
1 + 1.1 = 2.1

[2019-03-23 11:01] ionspin opened #3 "Missing BigInteger operations"
**Describe the bug**
BigInteger class is missing some operators that would make it closer to the Java big int (since we are looking at kotlin extended java BigInteger as inspiration amongst others).

This issue does not include prime operations, single bit operations or modular arithmetic, which are all also missing at this moment.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to find

[2019-03-23 19:32] ionspin opened #4 "Invalid fromInt(int : Int) : BigInteger result"
**Describe the bug**
BigInteger.fromInt(value : Int) : BigInteger returns incorrect magnitudes for

**To Reproduce**
Steps to reproduce the behavior:
1. val a = BigInteger.fromInt(-123)
2. println("A: $a")
3. Observer A: -18446744073709551493

**Expected behavior**
Value is correctly parsed

**Platform**
Common

**Additional context**
Probably same for long, short, and byte

[2019-03-30 21:49] #4 closed

[2019-03-30 21:49] #2 closed

[2019-03-30 22:26] ionspin commented on #3
Still GCD and SQRT left to do

[2019-03-30 22:36] ionspin opened #6 "Modular arithmetic"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to use modular arithmetic

**Describe the solution you'd like**
Support for modular arithmetic is added to the library

**Describe alternatives you've considered**
Waiting for modular arithmetic to appear by itself

**Additional context**

[2019-03-31 03:45] Kerooker opened #7 "Add extension function for String.toBigDecimal() and String.toBigInteger()"
In kotlin for jvm, one can do

`"12.34".toBigDecimal()`.

 It would be Nice to have these extension functions here

[2019-03-31 08:41] ionspin commented on #7
Ah, good catch, I'll add them soon.

[2019-03-31 16:12] LouisCAD opened #8 "Use GitHub releases to make watch releases useful"
It'd be great to consistently have all releases of this library published using GitHub releases too so we can be notified: https://github.com/ionspin/kotlin-multiplatform-bignum/releases

[2019-03-31 17:00] ionspin commented on #8
Starting with 0.0.8 I'll try to incorporate GitHub releases into the flow.

[2019-03-31 17:06] LouisCAD commented on #8
A good way to do it is to have a RELEASING.md guide that you keep up to date and follow thoroughly for each release ([example here](https://github.com/ansman/kotshi/blob/master/RELEASING.md)).
Another way is to script release to make it semi-automatic [as I did here](https://github.com/LouisCAD/Splitties/blob/master/RELEASING.md).

[2019-03-31 17:13] #7 closed

[2019-03-31 17:23] ionspin commented on #8
Thanks, that will help!

[2019-03-31 17:36] LouisCAD commented on #8
I see you added first release, thank you 🙂

[2019-03-31 17:41] ionspin commented on #8
Manually for now, but I'll follow your advice and get it at least semi-automatic. I'll close this issue when I get that working properly.

[2019-04-01 06:25] Adriannatsu opened #10 "Problems met when after implement the library"
I created an Android Studio Project and implement the     implementation("com.ionspin.kotlin:bignum:0.0.7")
in my app dependencies. After that I tried to implement the BigInteger in the common platform. However it failed to access the library

`fun testing(){
    BigInteger //Unresolved reference:BigInteger
}`

These are all in the commonMain folder.

[2019-04-01 07:32] ionspin commented on #10
Hi Adriannatsu,

Could you share you build.gradle, so we can try to narrow down the cause of the problem?

Thanks!

[2019-04-01 07:52] Adriannatsu commented on #10
apply plugin: 'com.android.application'

apply plugin: 'kotlin-android'

apply plugin: 'kotlin-android-extensions'

android {
    compileSdkVersion 28
    defaultConfig {
        applicationId "com.example.decimaltesting"
        minSdkVersion 15
        targetSdkVersion 28
        versionCode 1
        versionName "1.0"
        testInstrumentationRunner "android.support.test.runner.AndroidJUnitRu

[2019-04-01 17:42] ionspin opened #11 "Missing macOS and iOS artifacts"
**Describe the bug**
Mac and iOS artifacts are missing from maven central.

**To Reproduce**
Observe that iOS and macOS artifacts are not listed on maven central

**Expected behavior**
Each version has all artifacts available

**Platform**
 - macOS
 - iOS

[2019-04-01 17:48] ionspin commented on #10
Hey Adriannatsu,
as I mentioned on Gitter, you should have the bignum dependency in your common project, in your case it seems to be `sharedcode`. You should also remove the dependency from the Android build.gradle, as it is pointing to common metadata artifact, not android artifact on maven.

I'm not sure how much support there is for multiplatform projects in Android Studio, and that might be th

[2019-04-01 17:48] #10 closed

[2019-04-02 21:31] ionspin commented on #11
Version 0.0.8 has been published with ios iosX64 and macosX64 artifacts

[2019-04-02 21:31] #11 closed

[2019-04-10 21:36] RdeWilde opened #13 "Convert BigInteger to Int"
**Is your feature request related to a problem? Please describe.**
At some point my code likes to scale down the BigInteger to a normal Int, instead of scaling up all Int's to BigInteger's. This is not possible

**Describe the solution you'd like**
Add an extra method like `.toInt()` to convert a BigInteger to an Int (which may lose some precision)

**Describe alternatives you've considered**
Rewr

[2019-04-10 21:44] RdeWilde opened #14 "BigInteger .modInverse()"
**Is your feature request related to a problem? Please describe.**
modInverse is not yet available on a BigInteger

**Describe the solution you'd like**
Add `.modInverse(m)`

**Describe alternatives you've considered**
NA

**Additional context**
https://docs.oracle.com/javase/7/docs/api/java/math/BigInteger.html#modInverse(java.math.BigInteger)

[2019-04-10 21:45] RdeWilde commented on #3
I created a seperate issue for `modInverse`: https://github.com/ionspin/kotlin-multiplatform-bignum/issues/14

[2019-04-10 21:53] RdeWilde opened #15 "BigInteger `toByteArray()`"
**Is your feature request related to a problem? Please describe.**
Like to convert the BigInteger to a ByteArray

**Describe the solution you'd like**
Add `.toByteArray()`

**Describe alternatives you've considered**
NA

**Additional context**
https://docs.oracle.com/javase/7/docs/api/java/math/BigInteger.html#toByteArray()

[2019-04-10 21:57] RdeWilde opened #16 "Convert BigInteger to Float"
**Is your feature request related to a problem? Please describe.**
At some point my code likes to scale down the BigInteger to a Float, instead of scaling up all Float's to BigInteger's. This is not possible

**Describe the solution you'd like**
Add an extra method like .toFloat() to convert a BigInteger to an Float (which may lose some precision)

**Describe alternatives you've considered**
NA

*

[2019-04-10 22:00] RdeWilde opened #17 "Convert BigInteger to Long"
**Is your feature request related to a problem? Please describe.**
At some point my code likes to scale down the BigInteger to a Long, instead of scaling up all Long's to BigInteger's. This is not possible

**Describe the solution you'd like**
Add an extra method like .toLong() to convert a BigInteger to an Long (which may lose some precision)

**Describe alternatives you've considered**
NA

**Add

[2019-04-10 22:05] RdeWilde opened #18 "Use constructor overloading for BigInteger"
**Is your feature request related to a problem? Please describe.**
You have to write longer method names than just the constructor

**Describe the solution you'd like**
Apply constructor overloading instead of `fromFloat`, `fromInt`, `parseString` etc

**Describe alternatives you've considered**
NA

**Additional context**
Constructor overloading

[2019-04-11 18:45] RdeWilde opened #20 "Support Ranges"
**Is your feature request related to a problem? Please describe.**
For convenience it would be nice to support Range's for BigInteger's, for example by providing the infix.

**Describe the solution you'd like**
Just for convenience, non-blocking

**Describe alternatives you've considered**
Convert to Int before setting the range.
I did not research if this is a easy job. Just wanted to add the fea

[2019-04-11 19:02] RdeWilde commented on #18
This may do the trick, except for the String-type. https://github.com/paycoin-com/kotlin-multiplatform-bignum/commit/79e4bb31407921a39c1bf1249142b1916ee707cf

Disclaimer: untested.

[2019-04-11 19:10] ionspin commented on #18
Thanks, that is something I had in mind as well, I think I should be able to add it this evening.

[2019-04-11 19:14] RdeWilde commented on #18
No hurries, better do it right ;-) Glad if it helps

[2019-04-22 20:18] #14 closed

[2019-04-23 08:44] RdeWilde commented on #14
@ionspin awesome man!

[2019-04-24 22:42] #13 closed

[2019-04-24 22:42] #17 closed

[2019-04-29 19:55] ionspin commented on #6
Modular arithmetic is now supported by both BigInteger, and specialized ModularBigInteger. Let's see if people find one or the other more usefull.

[2019-04-29 19:55] #6 closed

[2019-04-29 19:56] ionspin commented on #3
Everything implemented, currently using naive implementations, but the goal for 0.1.0 is full functionality

[2019-04-29 19:56] #3 closed

[2019-05-02 22:59] avently opened #28 "[BigDecimal] High memory usage"
**Is your feature request related to a problem?**
Your implementation uses too much internal variables. This makes RAM usage higher than everyone wants. Think about million of instances on mobile devices (my app creates tens thousands of instances per second and heap memory is high even with Java's implementation).

**Describe the solution you'd like**
Maybe a good idea would be to replace BigInte

[2019-05-03 16:50] ionspin commented on #28
Yes, neither BigDecimal or BigInteger are optimized either for speed or memory usage. I plan to release 0.1.0 soon™, which should be functionally complete. Then for version 0.2.0 goal is to work on optimizing both speed by implementing more efficient algorithms for different sizes, and memory usage. I'll keep this issue open to track overall progress on that BigDecimal memory usage. Thanks for sug

[2019-05-03 16:52] #18 closed

[2019-05-03 16:57] ionspin opened #29 "Improve README"
**Describe the bug**
README is not well structured

**To Reproduce**
Look at README file

**Expected behavior**
README should provide a quick overview what the library provides, way to contribute. Detailed descriptions should be moved to Wiki

[2019-05-03 21:18] #20 closed

[2019-06-01 11:00] ionspin opened #32 "Restructure test layout"
**Describe the bug**
Test classes and tests themselves can be better organized
**To Reproduce**
Steps to reproduce the behavior:
Look at tests

**Expected behavior**
A clear testing structure is provided, testing guidelines are provided

[2019-06-02 14:26] #16 closed

[2019-07-06 10:22] ionspin opened #34 "ABI mismatch"
**Describe the bug**
Abi version mismatch after kotlin update to 1.3.40

**To Reproduce**
Steps to reproduce the behavior:
Try using the library with kotlin 1.3.40
**Expected behavior**
No ABI mismatch

**Platform**
 - Native

[code]

[2019-07-06 12:09] #34 closed

[2019-07-31 19:58] #15 closed

[2019-08-05 15:16] breandan opened #41 "Support for trigonometric functions"
**Describe the solution you'd like**: Support for trigonometric functions, e.g. `sin` `cos` `tan`. Can be implemented using the [MacLaurin series](https://github.com/eobermuhlner/big-math/blob/2a926e781a559444867bcd7a969451e346d83c54/ch.obermuhlner.math.big/src/main/java/ch/obermuhlner/math/big/internal/SinCalculator.java).

**Describe alternatives you've considered**: https://github.com/eobermuhl

[2019-08-10 18:56] ionspin opened #43 "Invalid comparison result when precision differs."
**Describe the bug**
BigDecimal comparison fails when exponents are same, but the precision is different.

**To Reproduce**
Compare BigDecimal -2 with exponent 0, and precision 1, with BigDecimal -2 with exponent -2 but precision 3

**Expected behavior**
Comparison works correctly irrespective of the precision

[2019-08-10 20:23] #43 closed

[2019-08-17 21:18] ionspin opened #48 "Implement karatsuba multiplication"
**Is your feature request related to a problem? Please describe.**
Basecase multiplication currently used is too slow.

**Describe the solution you'd like**
I'd like to have more efficient algorithm for different operand sizes, starting with Karatsuba

[2019-08-17 22:40] #48 closed

[2019-08-18 19:38] RdeWilde opened #50 "Move point by pow of 10 - BigDecimal.movePointRight"
**Is your feature request related to a problem? Please describe.**
No, just a feature request

**Describe the solution you'd like**
Implement (something similiar to) BigDecimal.movePointRight
While doing that, probably add movePointLeft too.
https://docs.oracle.com/javase/8/docs/api/java/math/BigDecimal.html#movePointRight-int-

**Describe alternatives you've considered**
Scaling by power of 10 wh

[2019-08-18 20:39] RdeWilde commented on #50
This is probably the same as `BigInteger.shl` and `.shr`, but not implemented in BigDecimal/BigNumber.

[2019-08-20 20:47] ionspin commented on #50
Huh, never noticed that one, I guess you'd do it if you want to change the just the exponent without running the actual calculations. Do you have a particular use case in mind for this?

I'd be inclined to provide a different solution, something like `.copy(significand, exponent, mathContext)` which would have default values of the current BigDecimal, so you could do something like
[code]
And the

[2019-08-23 08:50] avjiang opened #51 "Couldn't import the library"
Hello, i am trying to use the library, but couldn't. I can successfully import other kotlin multiplatform library.
here is my build.gradle

    apply plugin: 'kotlin-multiplatform'

    kotlin {
    targets {
        final def iOSTarget = presets.iosX64 // Simulator

        fromPreset(iOSTarget, 'iOS') {
            binaries {
                framework('SharedCode')
            }
        }

[2019-08-24 08:30] ionspin commented on #51
You are probably missing
```enableFeaturePreview("GRADLE_METADATA")```
In your settings.gradle

You can see the discussion around it here (https://github.com/Kotlin/kotlinx.coroutines/issues/564#issuecomment-456565452) , and also how to avoid using metadata by specifying all dependencies manually.

[2019-08-24 08:50] #51 closed

[2019-09-04 22:03] RdeWilde opened #54 "Include dependency per platform?"
Do I have to explicit define this library for every platform? The readme says just this: `implementation("com.ionspin.kotlin:bignum:0.1.0")`, but should I add the variants with suffix (-jvm, -js etc) to the various sourceSets? Or only in a main dependency?

[2019-09-05 10:18] ionspin commented on #54
You should have the following line
`enableFeaturePreview("GRADLE_METADATA")`
set up in your settings.gradle. That enables Gradle to resolve the proper artifacts per platform. If you are missing that line then you should add the them individually like mentioned in #51. Then you do increase the risk of having version mismatch between common and platform artifacts.

I'll add that to the readme to mak

[2019-09-05 10:34] ionspin commented on #54
I just found out that since Gradle 5.3 it's automatically using Metadata, but version 1.0 not 0.4 that I am currently publishing, so when I bump the gradle version, it won't be usable on Gradle < 5.3, I need to figure out if that affects Android in any way. For now you can use Gradle < 5.3 and `enableFeaturePreview`

[2019-09-05 11:38] #54 closed

[2019-09-19 20:43] RdeWilde commented on #50
I think the name `movePointToRight` is a little more explicit. Maybe implement the `copy`-approach and just "alias" `movePointToRight` and `movePointToLeft` to it?

I tried your last suggestion, using the `BigDecimal` constructor, but I don't know how I should get it to work.
`BigDecimal` wants a `BigInteger` as a constructor argument, so I tried this.

[code]
Which results in an error, as the cor

[2019-09-19 21:04] ionspin commented on #50
Ah, sorry I forgot the constructor was private, this works though
[code]

[2019-09-21 18:46] #50 closed

[2019-10-10 03:31] avjiang opened #59 "Support for kotlin 1.3.50"
Hi! thank you so much for providing this library! Overall this library has helped our team so much!

Is there any timeline for another release version? Now we are facing a performance issue, and also is there any plan to support kotlin 1.3.50 soon?

Thanks!

[2019-10-10 17:14] ionspin commented on #59
Hey, I'm happy to hear you found the library useful, even in these early stages! There is no strict timeline for releases, but a rough roadmap is tracked through github projects which you can find here https://github.com/ionspin/kotlin-multiplatform-bignum/projects

I'm currently working on implementing more efficient algorithms such as Karatsuba, Toom-Cook, FFT, for multiplications, although depe

[2019-10-14 02:58] avjiang commented on #59
@ionspin

Thanks for the detailed info! We are using the library for the Decimal calculation. We cannot use Double to do it because the precision details. So far the library is doing good. However, in our use case, if there are 40+ elements inside the array, the calculation might take some time in the iOS side (runtime). But overall the library is performing well!

You are helping people out there

[2019-10-14 02:58] #59 closed

[2019-10-15 18:06] ionspin opened #60 "Implement Toom-Cook multiplication"
**Is your feature request related to a problem? Please describe.**
Multiplication speed improvement

**Describe the solution you'd like**
A working Toom-Cook 3 implementation

**Describe alternatives you've considered**
Not doing anything

[2019-10-15 18:07] ionspin opened #61 "Implement Fast Fourier Multiplication"
**Is your feature request related to a problem? Please describe.**
Implement FFT multiplication to speed up the library.

**Describe the solution you'd like**
Implement FFT multiplication algorithm

**Describe alternatives you've considered**
Not implementing FFT.

[2019-10-19 20:18] ionspin opened #62 "Fix 32bit variant Toom-Cook and Karatsuba"
**Describe the bug**
Both Karatsuba and Toom-Cook in 32bit variants have bugs

**To Reproduce**
Run appropriate multiplication tests

**Expected behavior**
There are no bugs.

[2019-10-19 20:55] #60 closed

[2019-10-20 10:36] ionspin opened #65 "RemoveLeadingZeroes is too slow"
**Describe the bug**
Remove leading zeroes 63 bit array implementation is called often and profiling shows it's too slow. Also it causes a bunch of allocations because it copies an array.

**To Reproduce**
Profile multiplication/division/subtraction/addition

**Expected behavior**
Removing leading zeroes, or at least handling them is fast

**Platform**
- Common

[2019-10-26 21:24] jnorthrup opened #66 "cant import the library"
it is my honor to help improve the MPP software development process.

![image](https://user-images.githubusercontent.com/73514/67626186-0d067d00-f872-11e9-9731-76e13882f229.png)

Gradle 5.2.1
------------------------------------------------------------

Build time:   2019-02-08 19:00:10 UTC
Revision:     f02764e074c32ee8851a4e1877dd1fea8ffb7183

Kotlin DSL:   1.1.3
Kotlin:       1.3.20
Groovy:

[2019-10-26 21:28] #66 closed

[2019-11-17 12:19] #65 closed

[2019-11-17 12:56] ionspin commented on #28
Version 0.1.2 is taking initial steps towards solving this by handling empty words that are results of arithmetic operations differently. Still a lot of work to be done before the space useage is optimal.

[2019-11-27 00:35] johanneskraem3r opened #70 "Doesn't work for mingw target."
**Is your feature request related to a problem? Please describe.**
Tried to add this as a dependency in a MP project building for windows ( mingw ).
It doesn't seem to resolve the bignum library.
It does find bignum-metadata.

**Describe the solution you'd like**
Support for mingw ?

**Describe alternatives you've considered**
I have to admit that I'm quite new to Kotlin MP, but reading the readme

[2019-11-27 08:39] avjiang opened #71 "Rounding Issue"
Hi @ionspin !

I am having problem with figure rounding. I have an application that can support trailing decimal point number configuration. We have a setting that will configure this thing, so it will be dynamic.

Let's say the total decimal point number set is 3. So given number 12.5671, it will round to 12.567, if it is 2, it becomes 12.56 and so on.

I have a test case like following

![image]

[2019-11-27 21:38] ionspin commented on #70
Hi @johanneskraem3r, you are right, I haven't had mingw targets set up previously, so even though the library doesn't need any source code changes (hopefully!) I need to build and publish mingw targets. I need to set up windows build machine so I guess I'll have some time over weekend to get to it and publish it as a snapshot release.

[2019-11-27 21:45] ionspin commented on #71
Hey, I can definitely help you with that, and you should be able to do everything by using BigDecimal and decimal mode directly, I'll just need some time to write an understandable explanation, because it's a bit different from the way Java BigInteger does it. Could you in the mean time grab a stack trace when that InvocationTargetException is thrown, because that is definitely a bug.

Thanks!

[2019-11-27 23:10] johanneskraem3r commented on #70
I see. Thanks for the quick response. If it's trivial to build on windows, I can offer to build the mingw targets as I'm running already on windows. Would need a bit of help to set it all up, but if it's just a few steps and you can tell me how to do it, I can try?

[2019-12-01 09:13] ionspin commented on #71
I'll need to add this to wiki in more details, but here is the gist of it.

Each `BigDecimal` can have a parameter of type `DecimalMode` and here is the definition of decimal mode:

[code]

[2019-12-01 11:54] ionspin commented on #71
Ok, so while going through the process, I found a couple of bugs, so I'd suggest that you use a snapshot until I release a next version.

Your approach will give you a correct result, but it's creating an uneccessary BigInteger instance, and the rounding mode is also giving you troubles, so let's look at a different way of getting to the desired result.

So to round to a specific number of digits

[2019-12-01 12:01] ionspin opened #72 "BigDecimal.round(...) method returns unexpected result"
**Describe the bug**
BigDecimal round() method provides unexpected result when exponent is negative

**To Reproduce**
0.000001234 with decimal mode 2, CEILING will become 0.0000013, instead of
expected 0.01

**Additional context**
Might be prudent to rething how default decimal mode is applied in regard to rounding in operations

[2019-12-01 12:08] ionspin commented on #70
Thanks for offering to build it, but I still need to set up Travis to do that with each pull request, and the maven releases are signed in my local environment before uploading to maven central.

 If you want to build it locally and try it out before I'm done with the enviroments and publishing, you can check out the `add-mingw` branch, and then run `gradlew.bat publishMingwX64PublicationToMavenLo

[2019-12-03 21:05] #72 closed

[2019-12-03 21:08] ionspin commented on #71
Hey @avjiang I added a couple of methods that should make this much more straightforward. `roundToDigitPosition` and `roundToDigitPositionAfterDecimalPoint`, they are in snapshot so you can try them out. I still have to do some cleanup and add documentation.

Also you'll notice that I broke the previous API by renaming round() to roundSignificand() which describes better what it actually does, I'm

[2019-12-04 02:56] avjiang commented on #71
hi @ionspin, these few days my team still working on it. Thank you so much for the detailed explanation! So I think I can try those 2 new methods first. See how it works. Will come back to you again later. Much thanks!

[2019-12-04 03:08] avjiang commented on #71
btw, i couldn't use the snapshot version. here is the error

Could not find com.ionspin.kotlin:bignum:0.1.4-SNAPSHOT.
     Searched in the following locations:
       - https://dl.google.com/dl/android/maven2/com/ionspin/kotlin/bignum/0.1.4-SNAPSHOT/maven-metadata.xml
       - https://dl.google.com/dl/android/maven2/com/ionspin/kotlin/bignum/0.1.4-SNAPSHOT/bignum-0.1.4-SNAPSHOT.module
       - htt

[2019-12-04 08:24] avjiang commented on #71
I have tried with all three rounding methods provided. My objective is to round to 2 decimal points (after decimal point)

So these are the results tested with different rounding methods:
roundSignificant:
if(bigDecimal.exponent>0)
            bigDecimal = bigDecimal.roundSignificand(decimalMode = DecimalMode(bigDecimal.exponent.longValue() + 1 + 2, RoundingMode.ROUND_HALF_CEILING))
        else

[2019-12-04 08:31] ionspin commented on #71
Ah, I'll have to look into the rounding modes, I'll try to do that today after work. ROUND_HALF_AWAY_FROM_ZERO should be the one to use, but it's not giving proper results in your testing. Let me get back to you on this.

[2019-12-04 18:28] ionspin commented on #71
I've found a bug in the rounding function, it would return wrong results most of the time, but unfortunately  my tests covered only working cases. I also changed the two new funcations a bit. Here's how it works now:
[code]

[2019-12-04 18:32] ionspin commented on #71
It should be available in the snapshot in an hour or so, once the Travis build is complete. And a heads up tomorrow or a day after, I will be changing exponent in big decimal from `BigInteger` to `Long` so you won't have to do this `... input.exponent.longValue() ...` any more. Will break the build again :)

[2019-12-06 03:00] avjiang commented on #71
I tried to run your test again, but if failed. i am using version 0.1.4-SNAPSHOT

[2019-12-09 21:29] #70 closed

[2019-12-10 21:01] ionspin commented on #71
Hi @avjiang, I presume that snapshot didn't update on your side, gradle can be sometimes finicky if you don't force snapshot update. In any case, version 0.1.4 was just fully released so you might want to try with that one.

[2019-12-11 07:08] avjiang commented on #71
Hi @ionspin, updated to version 0.1.4, and I found another issue

![image](https://user-images.githubusercontent.com/19270457/70599364-f5b7ff00-1c27-11ea-8567-32274697f92d.png)

Expected result is: 1000000.12
However, the function will return 1000000.13

Please advise

[2019-12-11 08:11] ionspin commented on #71
Excellent catch, it's because the discarded part is "055" which is unfortunately inspected as "55". I'll fix that after work and put the fix in 1.5-SNAPSHOT.

[2019-12-11 17:26] kavanmevada commented on #62
check this Karatsuba implementation written in kotlin-native https://github.com/kavanmevada/kotlin-native-bignum

[2019-12-11 18:04] kavanmevada commented on #62
can you tell me, which is fastest algorithm for division ?
• Single Limb Division
• Basecase Division
• Divide and Conquer Division
• Block-Wise Barrett Division
• Exact Division
• Exact Remainder
• Small Quotient Division

[2019-12-11 19:24] ionspin commented on #62
Hi @kavanmevada thanks for the suggestion, I'll have a look, although I already have karatsuba working for 63-bit implementation, I just haven't had the time to look into 32-bit implementation and why is it failing. For your division question, unfortunately I don't know, yet :) I'll be working on division improvements soon-ish, so I might get back to you on that.

[2019-12-11 19:37] kavanmevada commented on #62
I seen your library. I'm Impressed. You implemented lot. I started mine by goal of implementing RSA which lead me to all basic arithmetic for large numbers. Almost most implemented. Remaining powerMod which needed fast division and fast mod functions.

In some research paper I read Basecase Division and Divide and Conquer Division fast. But I still not understand algorithms correctly. I'm noob in

[2019-12-11 21:48] ionspin commented on #62
I started from the same point about a year, year and half ago and I still find myself in the same situation often.

Here is a comparison of different algorithms from 2003: http://bioinfo.ict.ac.cn/~dbu/AlgorithmCourses/Lectures/Lec5-Fast-Division-Hasselstrom2003.pdf

For cryptography I really suggest going through Cryptography I by Dan Boneh on Coursera.

Also look through Crypto subreddit for som

[2019-12-11 21:50] ionspin commented on #71
@avjiang Fixed in 0.1.5-SNAPSHOT, but I didn't have time to test properly, so I wouldn't be surprised if you find some other corner cases. Thanks for reporting the problems and providing the test cases, it helps a lot!

[2019-12-16 17:30] ionspin commented on #71
I'm considering this issue resolved as #77 should have taken care of final problems. If there are further rounding problems we should track them in new issues.

[2019-12-16 17:30] #71 closed

[2019-12-17 07:46] avjiang opened #78 "Exception when converting negative numbers"
**Describe the bug**
There is an exception thrown when processing negative numbers

**To Reproduce**

    println((-6.0).toBigDecimal().toStringExpanded().toDouble())

**Expected behavior**

    The library will process the number same as positive numbers

Version : 0.1.5-SNAPSHOT

![image](https://user-images.githubusercontent.com/19270457/70975095-36aa8a80-20e4-11ea-91f0-f83fcaf43092.png)

Image

[2019-12-17 21:40] #78 closed

[2019-12-17 21:44] ionspin commented on #78
Thanks for reporting this issue @avjiang! It will be published in 0.1.5-SNAPSHOT as soon as Travis build finishes. Make sure you have the latest snapshot before testing, as gradle can cache older snapshots longer than presumed.

[2019-12-19 07:12] avjiang commented on #78
ty for the fast response @ionspin ! gonna try that soon

[2020-01-02 03:10] avjiang opened #82 "Version: 0.1.5-SNAPSHOT iOS device build issue"
Hi @ionspin!

When i am using 0.1.5-SNAPSHOT version, i cannot build it to my testing iPad device. I am getting this following error in my XCode

     Could not find bignum.klib (com.ionspin.kotlin:bignum-ios64arm:0.1.5-SNAPSHOT).
     Searched in the following locations:
         https://oss.sonatype.org/content/repositories/snapshots/com/ionspin/kotlin/bignum-ios64arm/0.1.5-SNAPSHOT/bignum-ios64

[2020-01-02 20:35] ionspin commented on #82
Hey @avjiang

I think that's a gradle bug, but I'm not 100% sure, the problem is gradle is trying to fetch a library that has version repeated twice in the file name (the `0.1.5-20191226.161347` part), and that really doesn't exist. As you can see from your logs
``` ...64arm/0.1.5-SNAPSHOT/bignum-ios64arm-0.1.5-20191226.161347-6-0.1.5-20191226.161347-6.klib```

I encountered this a couple of times

[2020-01-02 20:35] #82 closed

[2020-01-03 06:02] avjiang commented on #78
@ionspin , there is another bug (throwing exception) in this sample code of negative value

    println((-0.006).toBigDecimal().toStringExpanded().toDouble())

[2020-01-03 06:03] avjiang commented on #82
oh ok noted! Will try your suggestion. Thanks!

[2020-01-03 19:47] ionspin commented on #78
Hey @avjiang could you add the exception stacktrace, I can't reproduce the latest problem. Also I just noticed the cache question, either try with `--refresh-dependencies` which would redownload all dependancies, or delete `~/.gradle/caches/modules-2/files-2.1/com.ionspin.kotlin/` folder, although that might break something else in gradle.

[2020-01-06 02:39] avjiang commented on #78
@ionspin

Here is the stacktrace

![image](https://user-images.githubusercontent.com/19270457/71791622-a7541f80-3070-11ea-84d8-ecb91d416012.png)

btw, how to run the command you provided above? I try to run it in my Android Studio terminal but it stated no command found. Please help.. Thanks!

[2020-01-06 20:47] ionspin commented on #78
That looks strange, it's trying to fetch an older version of the snapshot (a very old in fact), that is probably why you are also seeing the exception. Why is it trying to get the older version, I don't know.
You could try to add this to your `build.gradle`

[code]
It should force gradle to fetch the SNAPSHOT marked dependencies every time (but I've seen it not work sometimes).

[2020-01-07 07:00] avjiang commented on #78
Now i am facing this error, but the date seems newer

![image](https://user-images.githubusercontent.com/19270457/71875043-5de1fe00-315e-11ea-8d5c-3071e6745575.png)

Looks like i wont be able to proceed without you to release it in new version. This snapshot thing is too buggy at my side. It is really hard for my team to proceed as now we cannot resolve the negative numbers.

Thank you so much for

[2020-01-07 21:07] ionspin commented on #78
Hey @avjiang I released version 0.1.5 with the fixes, hope it fixes problems on your side.

[2020-01-08 06:33] avjiang commented on #78
@ionspin ty so much for the help. Really appreciate it. This is my first time dealing with gradle and all these stuffs, and didn't expect it to be so buggy.

Thanks!

[2020-01-08 17:12] ionspin commented on #78
I'm glad I can help!

[2020-01-14 06:55] avjiang opened #86 "Incorrect result after rounding decimal point"
**Describe the bug**
Incorrect result from function `roundToDigitPositionAfterDecimalPoint`

**Expected behavior**
Follow the decimal point digit

![image](https://user-images.githubusercontent.com/19270457/72321017-ca6c7800-36dd-11ea-8266-e8c7318e161a.png)

[2020-01-15 17:22] ionspin commented on #86
Thanks for reporting! Fixed in 0.1.6-SNAPSHOT

[2020-01-15 17:22] #86 closed

[2020-01-16 03:55] avjiang commented on #86
@ionspin

another incorrect figures :

    assertEquals(9.17111007690947.toBigDecimal().roundToDigitPositionAfterDecimalPoint(2, RoundingMode.ROUND_HALF_AWAY_FROM_ZERO),9.17.toBigDecimal())
    assertEquals(9.7825174153701.toBigDecimal().roundToDigitPositionAfterDecimalPoint(2, RoundingMode.ROUND_HALF_AWAY_FROM_ZERO),9.78.toBigDecimal())

[2020-01-16 15:19] buehlerjochen opened #88 "BigInteger.bitAt does not work correctly"
**Describe the bug**
BigInteger.bitAt always return "false" for indices other than 0.
Example:
BigInteger(2).bitAt(1) should return "true", but returns "false".

Looks like the comparison in BigInteger63Arithmetic.bitAt could be the issue. After looking at the code I think the last line should assert that the result of the operation is _!= 0_ instead of _== 1_.
In the example above, the value is 2

[2020-01-16 19:12] ionspin commented on #86
I tested these two with latest 0.1.6-SNAPSHOT, and they were returning expected results.

[2020-01-16 20:11] ionspin commented on #88
Spot on! Thanks for reporting!

[2020-01-16 20:33] #88 closed

[2020-01-17 07:09] avjiang commented on #86
Same good old bug again.. lol

![image](https://user-images.githubusercontent.com/19270457/72591524-4ca5a800-393b-11ea-95a1-974a1fc9d97f.png)

[2020-01-17 18:04] ionspin commented on #86
Yeah, that looks correct. Could you check which version of gradle are you using for the project? The version is usually in the `./gradle/wrapper/gradle-wrapper.properties` starting from your project root directory.

[2020-01-17 18:07] ionspin commented on #86
And also if you are not using the latest (6.0.1) version, you could try by setting this inside the gradle.properties file:
`distributionUrl=https\://services.gradle.org/distributions/gradle-6.0.1-bin.zip`

[2020-01-22 09:49] avjiang commented on #86
hi @ionspin

sorry for my late reply. all the while i am not using 6.0.1 gradle version, but after changed the version, it is working in my side already. not sure that is the problem or not. Will see how it would be in the future.

will inform u again once there is any update. thanks :)

[2020-02-14 03:06] avjiang opened #90 "Incorrect Result From Negative Double"
**Describe the bug**
Negative figures round gives incorrect result

**Expected behavior**
Return 0

**To Reproduce**
Steps to reproduce the behavior:
1. Operation
2. Values to reproduce issue

![image](https://user-images.githubusercontent.com/19270457/74497948-fc117280-4f19-11ea-90a3-29d0a29039fa.png)

[2020-02-14 19:25] ionspin commented on #90
Hey @avjiang, thanks for reporting this! I'll look into it as soon as I can.

[2020-02-17 20:45] #90 closed

[2020-03-14 16:10] #62 closed

[2020-06-05 10:46] dankito opened #99 "Convert to / from Java BigDecimal"
Hi,

I created some extension methods to convert BigDecimal to / from Java BigDecimal (see below).

Two questions here:

- Are they correct and do you have any suggestions how to improve them (especially for converting from)?

- If i give you a pull request with them, would you like to integrate it into the jvmMain branch of your library?

[code]

[2020-06-05 11:47] ionspin commented on #99
Hi @dankito , if you find these converters useful, I'd love to add them to the library, so a pull request would be great.

As far as the correctness goes, conversion from java big decimal using string as intermediary would work, but I think it would be too inefficient, so I'd suggest solving that with a more direct approach (i.e. by using Java BigDecimal internal Java BigInteger intValue and scale

[2020-06-21 15:56] jershell opened #101 "Build failed"
**Describe the bug**

w: skipping ../com.ionspin.kotlin/bignum-linux/0.1.5/bb1ea2db83c116b118147efe55b35b01ae0e82bd/bignum.klib. The abi versions don't match. Expected '[22]', found '17'. The library produced by 1.3.61-release-13550 compiler

**To Reproduce**
Steps to reproduce the behavior:
1. Run Clion
2. Create kotlin/native helloWorld app by wizard
3. Add the library
4. Run build

**Expected b

[2020-06-21 15:57] jershell commented on #101
`plugins {
    kotlin("multiplatform") version "1.3.72"
}

repositories {
    mavenCentral()
}

kotlin {
    // For ARM, preset function should be changed to iosArm32() or iosArm64()
    // For Linux, preset function should be changed to e.g. linuxX64()
    // For MacOS, preset function should be changed to e.g. macosX64()
    linuxX64("HelloWorld") {

        binaries {
            // Comment the

[2020-06-21 16:44] ionspin commented on #101
Hi @jershell, I have never officially released 1.3.72 version, and currently I am preparing a release for 1.4. But there is a snapshot version that you can use that was built for 1.3.72
`com.ionspin.kotlin:bignum:0.1.6-1.3.72-SNAPSHOT`
You'll need to add sonatype snapshot to your repositories:
[code]

[2020-06-21 17:11] jershell commented on #101
com.ionspin.kotlin:bignum:0.1.6-1.3.72-SNAPSHOT...

Thank you!

[2020-06-29 17:57] kevincianfarini opened #102 "Compiling for linuxX64 cannot find klib"
**Describe the bug**
Using Kotlin 1.3.72 with Kotlin Native, I get the following error when trying to `./gradlew build` with a linux target.

[code]

I've included the library in my common sourceset dependencies, but I'm not sure that's correct.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Include big num library in common module of sourceset dependencies
2. Have code that referen

[2020-06-29 18:04] kevincianfarini opened #103 "Modularize to minimize dependencies"
**Is your feature request related to a problem? Please describe.**
When including this library into my project, I noticed that it has a dependency on coroutines. After doing a little bit of research, it looks like this library implements a couple of concurrent safe operations which is why coroutines is required.

**Describe the solution you'd like**
Splitting this library out into modules where on

[2020-06-29 18:09] kevincianfarini commented on #102
It seems this issue is a duplicate of #101. Closing. Sorry!

[2020-06-29 18:09] #102 closed

[2020-06-29 20:39] ionspin commented on #103
Hi Kevin,

It's very probable that in the next release I will completely remove the coroutines dependency as I am not really using it. The original reason for them to be included was to try and implement multi-threaded operations, but I haven't made any significant progress there. The other reason why coroutines are getting removed is that they don't support Linux Arm 64 target, and I would like t

[2020-06-29 20:40] kevincianfarini commented on #103
Awesome :) thanks

[2020-07-02 22:52] kevincianfarini opened #104 "BigInteger.toByteArray should prefer ByteArray over Array<Byte>"
**Is your feature request related to a problem? Please describe.**
On the JVM, primitive arrays have to be represented as their own specific types. For example, `byte[]` in Java corresponds to `ByteArray` in Kotlin. Right now, `BigInteger.toByteArray()` returns `Array<Byte>` which is the boxed type. It's like `Byte[]` in Java. This results in a lot of unboxing of values when working with the data.

[2020-07-05 16:41] ionspin commented on #104
Hi @kevincianfarini ,
The whole byte array conversion API will be overhauled before the next release, because currently it's a mess.To demonstrate why it's a mess, you'll see that UByte conversions are actually split just as you describe:
[code]
The other thing is that endianness is also not clearly exposed.

With that said, it would help if you could share what is your use case for byte array con

[2020-07-05 16:43] #103 closed

[2020-07-05 17:56] kevincianfarini commented on #104
In a personal project, corbit, I have a need for a `ByteString` type. The ByteString type from Okio as of right now is not sufficient, so I've been rolling my own until that improves. Both Okio ByteString and corbit BinaryString are backed by `ByteArray`.

Corbit is a BitTorrent implementation in Kotlin. BitTorrent relies heavily on data verification with SHA-1. Therefore, I've been implementing a

[2020-07-17 20:59] #104 closed

[2020-07-23 20:36] ionspin commented on #28
There have been several improvements regarding amount of allocations in BigInteger arithmetic since January (BigDecimal is practially just a wrapper around BigInteger with more operations) , mostly made by more precise allocations when executing arithmetic operations, as well as passing information on zero words without the need to allocate new arrays.

Since this issue is too broad, all future im

[2020-07-23 21:36] #28 closed

[2020-07-24 01:09] avently commented on #28
Good, thank you, @ionspin

[2020-07-27 17:41] ionspin commented on #61
This requires much more time than I have to invest currently. If there is demand for this particular improvement, I might speed it up, until then, let's keep it unscheduled.

[2020-08-02 00:26] skolson opened #111 "BigDecimal narrowing"
It would be nice if BigDecimal implemented the (currently internal) interface in BigNumber of NarrowingOperations<BigDecimal> to support changing BigDecimals back to all the various basic types; Int, Long, Short, Float, Double, UInt, UShort, ULong, Byte and UByte,

Since BigDecimal is not "open"  extension functions are required to do this.  An example of one is below.
[code]
This would provide a

[2020-08-02 22:04] skolson commented on #111
Thanks for looking at this! Sorry that code above is just a sample and has a bug so don't use it :-)

[2020-08-02 22:20] skolson opened #112 "BigDecimal divideAndRemainder bad result"
Given this code:
[code]
x is displayed in debugger with correct value -3.2768E+4. Result.first should be the same, and result.second should be zero. Instead, this is displayed in debugger:
    result.first = -3.2769E+4
    result.second = 1.0

So far this is the only case I've hit in early unit testing, so am unsure what other ways the underlying bug may manifest. It's possible this happens whenev

[2020-08-02 22:34] skolson commented on #112
More info, indicating wider bug. Given this code running in the same environment
`
    val limit = BigDecimal.fromInt(Int.MAX_VALUE)
    val lowLimit = BigDecimal.fromInt(Int.MIN_VALUE)
`
limit gets correct value of 2.147483647E+9 or 2147483647
lowLimit however gets incorrect value -1.8446744071562067968E+18
lowLimit should be -2.147483648E+9
have not tried to debug into code to see why yet

[2020-08-03 07:24] ionspin commented on #112
Thanks for reporting! I'll give it a look today.

[2020-08-03 15:40] skolson commented on #112
The BigDecimal.fromInt(Int.MIN_VALUE) is weird. The debugger displays the element in **magnitude** of the **BigInteger** it is constructing with the correct value of -2147483648, and **sign** is correct, but the debugger value displayed for the BigInteger itself is -18446744071562067968. I'm not sure why, but sure enough when it gets to function **numberOfDecimalDigits()** in BigInteger, that retu

[2020-08-03 15:53] skolson commented on #112
The debugger is dynamically calling toString, and it comes back wrong due to trouble in divrem again. In the Biginteger toString method when it does **copy divrem baseArray** the answer comes back with the huge result 18446744071562067968. I'll stop looking here unless I can do something useful to help you, let me know if I can. I'm a motivated new user, with time :-)
Easy to recreate:
```val badn

[2020-08-03 16:04] ionspin commented on #112
Hey @skolson, I just got off work so I can take a look at this.

But first, your effort is greatly appreciated, I don't have a lot of time and such debugging insight can be a great help when solving issues.

I'll first look into the divrem problem that you saw, as that might be the most serious.

The number you saw (18446744071562067968) looked very familiar, at first I thought it was ULong.MAX_VA

[2020-08-03 16:27] ionspin commented on #112
Ok, this is a fun issue, the actual problem stems from `BigInteger.fromInt(intValue)`, because the BigInteger class is actually backing implementation of the BigDecimal. So when I tried to get a BigInteger.fromInt(Int.MIN_VALUE) I also got that weird ULong.MAX_VALUE - Int.MAX_VALUE

So let's look at what `BigInteger.fromInt(intValue)` does:
[code]
it calls a constructor for BigInt that takes just

[2020-08-03 17:52] ionspin commented on #112
The second part of the problem, wrong divrem, was a bit more convoluted, as it was in the rounding function, code which I have trouble remembering the most. The problem there was that the function tried to apply rounding even if the digit that was being discarded is 0, so in this case a negative number and default rounding, which is `FLOOR` caused the Short.MIN_VALUE (which internally when dividin

[2020-08-03 17:59] ionspin commented on #111
@skolson If you have time and would like to tackle this, a pull request would be great. I can help you out with any questions that you have regarding the internal organization of the library or possible ways to approach this.

[2020-08-03 18:29] #112 closed

[2020-08-03 21:22] skolson commented on #112
Awesome, thanks for finding this so quickly. Is there already a 0.2.0 snapshot built with 1.4.0-rc that I could try? If not, lemme know and I can look into building the current master tomorrow myself and see how it acts.

[2020-08-04 16:34] ionspin commented on #112
Hey @skolson, sorry for the late reply, just got off work again, each merge to master is automatically built and published to sonatype snapshot repository, it's not 0.2.0 yet, but you can find the current build here:
[code]

[2020-08-05 00:49] skolson commented on #111
I will try to work on this in a couple days. Will keep you posted here.

[2020-08-05 16:09] skolson commented on #112
I just tested with this and this fix looks good. Unfortunately it hits a comparison error with two negatives :-) Since this is closed, I'll open a new issue.

[2020-08-05 16:19] skolson opened #114 "Comparison of two negative BigDecimals incorrect"
Using the current 0.1.6 snaphot, for this code snippet:
[code]
testVal is -32768
highLimit is 2.147483647E+9
lowLimit is -2.147483648E+9
biggerThanMax = -1 which is correct
lessThanMin = -1 which is incorrect, should be 1

Side note: I'm planning on doing a pull request for the Narrowing issue likely tomorrow (8/6/2020). If you like I can fix this one also as part of that pull request. I debugged

[2020-08-05 16:49] ionspin commented on #114
Sounds great! I'm fine with putting everything in one pull request since in this situation. Thanks!

[2020-08-08 14:38] ionspin commented on #114
Hey @skolson, this was actually a bug in BigInteger comparison not in BigDecimal, so I went and fixed it as it was bothering me a lot that I messed it :)

[2020-08-08 17:23] #114 closed

[2020-08-09 18:45] skolson commented on #111
Ok, I have a first draft of code for this, but am having trouble with a couple unit tests. What environment do you use for debugging?  I'm using Android Studio but also have Intellij installed and could try there.  I see you have some JUnit tests in jvmTest but Android Studio doesn't seem to recognize the jvmTest/kotlin directory.  It looks like a sourceSet issue, as AS normally decorates sourceSe

[2020-08-09 19:04] skolson commented on #111
Oops just noticing the gradle stuff that is linux-specific, so lemme see if I can get windows working for jvm target at least

[2020-08-09 19:33] skolson commented on #111
Ok debugging fine now and have found a rounding issue. Lemme know if you want me to try to fix, or open another issue, or what.  Given this code:
[code]
Infinite precision should be in use, so this should get 4.9E-325 for dub2. Initially the correct new exponent of -325 is calculated, but then in fun roundDiscarded stuff gets lost, resulting in this debug output:
[code]

[2020-08-09 20:41] ionspin commented on #111
Hey @skolson, if you want to tackle the rounding issue that would be great! I think it would be better to open a separate issue for that, and handle it in a separate pull request, as it's then easier to review. I'll try to adapt the build.gradle.kts to enable JVM on windows/mac/linux depending on a local gradle variable. I'll open a separate issue for that.

As far as the IDE goes, I would definit

[2020-08-09 20:44] ionspin opened #116 "Introduce local gradle varibale to enable JVM target on different platforms"
**Is your feature request related to a problem? Please describe.**
JVM build target is disabled on Mac/Windows and that hampers development on those platforms.

**Describe the solution you'd like**
I would like to set a local gradle variable that enables JVM target for my specific development platform

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-08-09 21:47] ionspin commented on #111
heres a pull request for windows development support, as well as fix for dokkaJavadoc https://github.com/ionspin/kotlin-multiplatform-bignum/pull/117

[2020-08-10 06:21] skolson commented on #111
Thanks! I will get back to this on Tuesday, will keep you posted.

[2020-08-10 17:17] #116 closed

[2020-08-10 17:24] ionspin commented on #111
I merged the gradle configuration changes to master, so now if you add `bignumPrimaryDevelopmentOs=windows` to your `gradle.properties` (should be in  C:\Users\<User>\. gradle\gradle.properties) build script will enable JVM and JS targets when you run `./gradlew build`

Same commit should also have fixed the dokkaJavadoc issue

[2020-08-10 22:52] skolson commented on #111
Ok I'm gonna make a new issue and a different pull request for the rounding on division problem, and will work on that first as it'd be nice to have for the unit tests on the narrowing stuff.

[2020-08-10 22:53] skolson opened #118 "Rounding issue on division"
Given this code:
[code]
Infinite precision should be in use, so this should get 4.9E-325 for dub2. Initially the correct new exponent of -325 is calculated, but then in fun roundDiscarded stuff gets lost, resulting in this debug output:
[code]

[2020-08-10 23:25] skolson commented on #111
I synced up the latest changes on the master, and now gradle is unhappy:
[code]
I'm looking for the cause...

[2020-08-11 16:24] skolson commented on #111
Well I have progress, but I keep hitting edge cases that trip up unit tests :-) This one is in BigInteger longValue implementation, which BigDecimal longValue relies on.  Doing this:
[code]
x gets 0 instead of Long.MIN_VALUE, because the magnitude of Long.MIN_VALUE is actually 2 words. BigInteger longValue assumes correct value is in magnitude[0] which in this case is zero. (magnitude[1] = 1 in th

[2020-08-11 16:38] ionspin commented on #111
Another great catch, the reason BigInteger needs two words to store Long.MIN_VALUE is because the current implementation uses 63 out of 64 bits to store the number data, the last bit I reserved for more efficient addition operations, as then there is no need to check for overflow. There is a check for this situation when converting from Long.MIN_VALUE, but not the other way around. I think I can f

[2020-08-11 16:42] skolson commented on #111
Hey! I think I have another in BigInteger longValue, this one is on the exactRequired comparison.  This line I think is trouble:
[code]
because the UInt comes back with the max integer value, not the max long, so then the compare is done on the int....

[2020-08-11 16:53] ionspin commented on #111
I'll fix that at the same time!

[2020-08-11 17:12] ionspin commented on #111
Here is the pull request that should fix the conversion problem #120

[2020-08-13 16:09] #111 closed

[2020-08-13 16:09] #118 closed

[2020-08-13 18:00] skolson opened #122 "add "scale" support to BigDecimal"
When using BigDecimal for currency calculations, having the functionality of "scale" in java's BigDecimal is very useful, as it is in a number of other use cases.  I don't think the equivalent of "scale" is available in the current implementation.

A general list of changes required to BigDecimal class:

- scale:Int added as a val argument to constructor(s). Will be verified to be between 0 and pr

[2020-08-13 19:22] skolson commented on #111
Any near-term plans to do a 0.2.0 snapshot publish that would have these changes in it?

[2020-08-13 20:03] ionspin commented on #111
Each merge to master is automatically published to sonatype snapshot, so the current 0.1.6-1.4.0-rc-SNAPSHOT has all the changes from this pull request (you can see the actual files here, note the timestamp at the end of the filename https://oss.sonatype.org/content/repositories/snapshots/com/ionspin/kotlin/bignum/0.1.6-1.4.0-rc-SNAPSHOT/). I'll bump the version up to 0.2.0 before the stable relea

[2020-08-13 20:09] skolson commented on #111
Ok cool, I saw the target on the issue being 0.2.0 and thought it was waiting for that.

[2020-08-13 20:31] skolson commented on #111
Hmm, I did the --refresh-dependencies, and the jar gradle has was built last night.  So is the sources jar. But AS is still not able to resolve the new code, and if I look in the sources jar, the new code isn't in that source either. So it's like the new stuff isn't merged or something?

[2020-08-13 20:32] skolson commented on #122
Thanks!  Will start work tomorrow.

[2020-08-13 21:08] ionspin commented on #111
It''s already there end of each build on master branch directly publishes to sonatype repository. I just tested it in a separate project and I'm seeing new narrowing functions.
If you are not seeing it it might be that Gradle is still using cached libraries (which hopefully --refresh-dependencies solves), or that Android Stuido is using cached libraries. In Android studio you can open Gradle tab,

[2020-08-14 19:54] skolson commented on #122
My first approach was to add scale as a third constructor are to DecimalMode. Currently signature looks like this:
[code]
I've tried this with scale like it is, and with val scale:Long? = null. In both cases I can build unit tests and debug them fine, but wither way if I run a gradle build task, it fails in this JS task with this error info:
[code]
Do you know what I did to cause this?

[2020-08-14 20:09] ionspin commented on #122
Looks like a bug in Kotlin JS compiler, I've hit a few here and there, mostly it's possible to work around them. Can you share your branch, so I can try to reproduce the bug?

[2020-08-14 20:54] ionspin commented on #122
Btw, I tried just making this change:
[code]

[2020-08-15 18:56] skolson commented on #122
I don't know what I did, but the above problem disappeared, I have a first draft of scale support working, and it has passed spotless, done a full build, and fails one JS test:
[code]
How do I chase this down?
Either way on the JS test, what I have should be good enough for review and polishing. Is this a good time for me to create a pull request so you can review stuff?  I'm also wide open to any

[2020-08-15 21:26] ionspin commented on #122
Great! I'll take a look at the commit tomorrow. For the failing JS test, you can just annotate it with @Ignore for now (but don't commit that annotation :) ), it passes reliably on Travis, so it's probably just that it takes longer on your machine.

[2020-08-16 12:17] #122 closed

[2020-08-16 14:44] skolson opened #124 "New Scale support not handling negative exponents where scale >= exponent.abs()"
The initial scale support doesn't have code to handle the case where scale is set, the value of the BigDecimal has a negative exponent, and scale >= exponent.abs(). If exponent < 0, and scale < exponent.abs(), BigDecimal.Zero is the result which is correct. If scale >= exponent.abs(), result is still zero which is wrong.

Example:
[code]
x should end up equal to "0.0013", not zero

I will work up

[2020-08-16 14:55] skolson commented on #124
Oops, I was incorrect above, this is working so the new pull request will just have a new unit test to verify this functionality

[2020-08-18 17:52] ionspin commented on #101
Version 0.2.0 built with Kotlin 1.4.0 was just released, should be available in a couple of hours on Maven, so with that this issue is completely resolved.

[2020-08-18 17:52] #101 closed

[2020-08-20 16:47] #124 closed

[2020-10-08 09:41] olivergasa opened #127 "BigDecimal divide not working properly"
At first, thank you very much for your work! I really appreciate it.
But there is one thing :)

**Describe the bug**
BigDecimal divide function not always returning the correct result.
In short, if I divide 2.2 by 2 it should result in 1.1 but it results in 1.1E-1 which is 0.11.

**To Reproduce**
bigDecimal = BigDecimal.parseString("2.2").divide(BigDecimal.parseString("2"))

**Expected behavior**

[2020-10-08 16:29] ionspin commented on #127
Hi Oliver,

Thank you very much for reporting this issue! It's caused by a recent change of adding scale parameter to BigDecimal numbers and an unfortunate mistake of not setting a correct exponent on static `BigDecimal.TEN` which caused a test that should have failed for scale actually finish successfully.

It's still rather embarrassing that none of the tests caught that division with infinite p

[2020-10-09 13:40] olivergasa commented on #127
Hi Ugljesa,

thank you for your quick reply and the fix. I wrote a test which covers all the operations I mentioned in my first post.
Unfortunately the positive case, which was 123.456 / 2 now results in 617.28.

`
var bigDecimal = BigDecimal.fromFloat(123.456f).divide(BigDecimal.fromFloat(2.0f))
assertEquals(BigDecimal.fromFloat(61.728f), bigDecimal)
`

The other tests passed.

[2020-10-09 17:53] ionspin commented on #127
You are right, that's not correct, I must have missed something, I'll take a look at it and hopefully fix it by tomorrow. Thanks for reporting it!

[2020-10-10 18:32] #127 closed

[2020-10-10 18:50] ionspin commented on #127
Hi Oliver,

Hopefully I fixed the issue now, the fix is in 0.2.2, which should be available from maven in next couple of hours, or 0.2.3-SNAPSHOT which should be available in half an hour or so. Please share if you still face issues.

One note though regarding the division with unlimited/infinite precision which you are using here, it's going to throw an error if you result is not terminating afte

[2020-10-12 08:24] olivergasa commented on #127
Hi Ugljesa,

I tested it in the morning and according to my tests its now all green. Tests were successful.
Thanks the links. As I was just adding the basic operations I don't know yet how I will use the division operation but its good to keep that in mind.

Thank you! You're doing a great job 👍

[2020-10-22 17:12] skolson opened #130 "Conversion to double off by power of 10"
Given this JVM snippet:

        val testDouble = 999111.999111
        val testBig = BigDecimal.fromDouble(testDouble)
        val newDouble = testBig.doubleValue(true)
        assertEquals(testDouble, newDouble, 0.0)

assert should work, but assert fails:
java.lang.AssertionError:
Expected :999111.999111
Actual   :9991119.99111

I haven't tried other scenarios yet, have not finished debugging. T

[2020-10-22 17:19] skolson commented on #130
Wait I was looking at this wrong. This line does need to change. I'm gonna try to come up with a new one.

[2020-10-22 17:35] skolson commented on #130
Ok how about this.  The exponent is the wrong divisor in this case of a positive exponent. Changing
```this.significand.longValue(true).toDouble() / double10pow[exponent.toInt()]```
to this:
```this.significand.longValue(true).toDouble() / double10pow[precision - 1 - exponent.toInt()]```
works in the current case, but requires tweaking the surrounding IF statement.  I'm gonna test this out in othe

[2020-10-22 17:49] skolson commented on #130
I think this replacement for the existing return statement in the doubleValue function is a candidate for a general solution. If this looks ok, lemme know and I will do a pull request and some real testing:
[code]

[2020-10-22 21:48] skolson commented on #130
Issue is growing, during testing of above fix, found a case where fromDouble is off by power of 10. Will be submitting a pull request with changes to DoubleValue, fromDouble, and new unit tests in BigDecimalNarrowingTest. The old unit test was only testing edge (MIN/MAX) cases, so the bugs I'm finding didn't have test coverage.

[2020-10-22 21:59] skolson commented on #130
Hmm. fromDouble has code that tries to drop trailing zeroes from a double string before passing it to parseStringWithMode, That assumes however that there is no exponent on the end :-).  The test double value that this code fails on was
``'9.991119991110001E-10'''  which this code changes to ``'9.991119991110001E-1`'', removing an important trailing zero :-).  Will fix.

[2020-10-22 22:23] skolson commented on #130
I have a commit ready for a pull request, waiting for gradle "allTests" task to finish. Once that completes successfully I will submit a pull request for this issue.

[2020-10-22 23:22] skolson commented on #130
Darn, I just messed up the pull request (#131) and didn't get the "Resolves #130" in the front of the description. Also the title is way too verbose. Now I can't seem to edit it to fix this error, Sorry...

[2020-10-22 23:26] skolson commented on #130
Lol, figured out how to fix title and description.

[2020-10-23 09:46] #130 closed

[2020-10-23 09:51] ionspin commented on #130
Hey Steven, nice catch and thanks for the pull request, this really helps as I haven't had time lately to work on bignum library. The fixes will appear in version "0.2.3-SNAPSHOT" as soon as the travis job is done. I'll keep from releasing stable 0.2.3 for some time (lets say for one month, until 23 of November) to see if we can get more potential bugfixes or some improvements as well. Is it okay

[2020-10-23 22:36] skolson commented on #130
No prob, works for me.  I'm getting close to having the Kotlin MP wrapper for Sqlcipher I've been working on functional for a few platforms. It uses BigDecimal from this lib for all its non-integer fields. So once that's done, the arithmetic, decimal mode, scale, and other functions of BigDecimal will get pounded pretty good.  It won't test really big number operations much, but should be enough t

[2020-10-24 18:42] skolson opened #132 "BigDecimal narrow functions toFloat() and toDouble, with exactRequired = false sometimes wrongly fail"
A mis-placed parenthesis in the precision check included in both floatValue() and doubleValue() in BigDecimal cause ArithmeticException errors when they shouldn't. Error happens when exactRequired = false. I will do a quick pull request for this, for inclusion in next snapshot build.

[2020-10-24 19:43] #132 closed

[2020-10-24 19:44] ionspin commented on #130
That's great! Looking forward to seeing the library used properly!

[2020-10-24 22:04] skolson opened #134 "BigDecimal floatValue and fromFloat have same bug as doubles had in issue #130"
See the description of issue #130, the same exact bugs are in floatValue and fromFloat. Sorry I should have caught this during the issue 130 work,  Anyway while unit testing the fix to the two float functions I hit a different bug/feature and am unsure which it is - bug or feature.  Given this code snippet:
[code]
The value of Float.MIN_VALUE is 1.4E-45.  As expected f2 is 1.4E-46.  But here is th

[2020-10-25 09:49] ionspin commented on #134
Hi Steven,

First to answer your question, what you are seeing in your example is correct behavior, precision is **always** the number of digits in significand.

Offtopic:

Also let me explain where does that `14000000000` significand after division  actually come from, it's not too relevant for this issue, I'm just using the opportunity to put the algorithm into words, you can skip it completely

[2020-10-25 16:04] skolson commented on #134
Cool. I was thinking of precision as number of "significant digits" in the mantissa, irrespective of how the mantissa got calculated, and in the BigDecimal, the trailing zeroes are not significant (unlike BigInteger or any operations on the significand BigDecimal owns).  I'm guessing other people could make the same assumption, so this might be an ongoing source of questions :-)

But since precisi

[2020-10-26 19:27] ionspin commented on #134
That is a good point and I agree, I'll clarify that in the development wiki.

[2020-10-26 23:05] skolson commented on #134
Oops, didn't get to this today, and am gonna be gone for a while, will do a pull request in a couple weeks.

[2020-10-27 18:33] ionspin commented on #134
No rush, I'll have a crack at it next weekend in I get some free time.

[2020-11-06 19:02] skolson commented on #134
Hey, I'm back from my trip and later today will get up to speed with the work you've done. Thanks!!

[2020-11-06 21:18] ionspin commented on #134
Hey Steven, welcome back! I've added the check if the number can be exactly represented by converting the significand to IEEE 754 binary format. Then I count the number of bits in the resulting number and fail if it's more than 23 for float or 53 for double.

I'm think that that will not cover all the cases though. I am fairly certain that we need to add another check for integer precision, becaus

[2020-11-06 21:22] ionspin commented on #134
Although on other hand, maybe the current check with bit counting actually covers that as well, I'll need to add some test cases to check for that.

[2020-11-10 19:02] #134 closed

[2020-11-27 22:15] Roukanken42 opened #138 "Compile Kotlin/JS with both IR and Legacy"
I'm trying to use this library in multiplatform project as common dependency, but due to some other libraries I can't use IR compiler on Kotlin/JS

I noticed that released is only IR on Kotlin/JS, could you release it with both IR and Legacy? Eg, configuring according to [this](https://kotlinlang.org/docs/reference/js-ir-compiler.html#authoring-libraries-for-the-ir-compiler-with-backwards-compatib

[2020-11-28 18:00] ionspin commented on #138
Hi @Roukanken42, I removed the legacy version some time ago because it wouldn't compile correctly with Kotlin 1.4 (at the time it was actually 1.4 prerelease, M1 or something around that)

 I'll give it another try and see if it works, and then release it in the new version.

[2020-11-28 18:16] ionspin commented on #138
I tried it again with both legacy and IR enabled, unfortunately there are failing tests
[code]

I will look into this, but I can't give you any kind of commitment when and if I can fix it (might be on the kotlin compiler side, since it's only failing for legacy flavour)

[2020-11-30 11:36] Roukanken42 commented on #138
I looked at it briefly too, and the first two are definitely fault of the Kotlin's compiler - something is wrong with closures. I suspect it might be the fault of contract on assertTrue not being properly implemented

For example a test like this:
[code]
gets compiled to
[code]
eg, the closure is comparing `{v: 1}` and `1` - it obviously comes out as false...

Same thing happens in the `divrem` te

[2020-11-30 17:07] ionspin commented on #138
That is a great observation! I'll try wrapping the whole test in closure and see what happens in those two cases.

[2020-12-01 21:28] shadowsheep1 opened #140 "[Help needed] Standalone library jar gives ClassNotFoundException at runtime"
**Describe the bug**
Using this library to build a **JVM multiplatform library**, if you create a *standalone jar* when you add this jar as library in an Android project it compiles well but at runtime we got a `ClassNotFound` exception.

**To Reproduce**
Steps to reproduce the behavior:
1. Creata a Multiplatform library project using IntelliJ kotlin multiplatform library template.
2. Add this lib

[2020-12-03 19:31] ionspin commented on #140
Hi @shadowsheep1 what you are getting when you generate your standalone jar is a jar that doesn't contain any transitive dependencies, in this case bignum library. If you want to use a jar you would need to create a fat jar that would contain all transitive dependencies of your project. Unfortunately that is a question more suited for stackoverflow than github. Also I don't know how to do that :)

[2020-12-03 19:31] #140 closed

[2020-12-03 20:25] ionspin commented on #138
Hey @Roukanken42 wrapping tests inside assertTrue as you recommended and changing one range to use long instead of an int fixed all failing tests. The changes are being built at the moment and you should be able to use legacy js in 0.2.4-SNAPSHOT once the build is done!

[2020-12-03 20:25] #138 closed

[2020-12-03 20:37] shadowsheep1 commented on #140
Hey @ionspin thanks anyway! It seems that no one uses jar anymore.. me too ;)

[2021-01-24 11:15] fullkomnun opened #145 "Testing BigInteger's bitwise xor operation with randomised input occasionally produces incorrect results"
**Describe the bug**
Randomised tests expose use-cases in which xor bitwise operation is inconsistent with Java's BigInteger

**To Reproduce**
Steps to reproduce the behaviour:
I amended BigInteger63JavaBitwiseTest::`Test random xor` to:
[code]
And about 25% of total tests produces incorrect result that differ from Java's BigInteger's.

observations:
- If I use an array length of 1 for both - all

[2021-01-24 19:26] ionspin commented on #145
Great catch, I'll look into it more tomorrow, thanks!

[2021-01-24 23:27] fullkomnun commented on #145
performing xor in 32 bit arithmetics using conversions results in expected outcome but when using xor with 63 bit arithmetics output is incorrect. Example for doing xor with 32 bit arithmetic:
[code]

[2021-01-31 12:22] ionspin commented on #145
Hey @fullkomnun, sorry for the delay, I haven't had time to look into this before today. I think xor is actually working fine here, there is a small mistake in your test, when you are generating random values to test with you are using nextULong
[code]
This creates arrays with 64 bit values, but the arithmetic is working on 63bit length words. So randomly, that bit will be set to 1 when it's expec

[2021-02-04 11:12] matt400m opened #148 "Bug during parsing string "0.00" to BigDecimal"
**Describe the bug**
After invoke "0.00".toBigDecimal() I get BigDecimal("0.")

**To Reproduce**
run test:
[code]

**Expected behavior**
toPlainString() should return "0.00"

**Platform**
 - JVM, iOS

[2021-02-05 12:19] ionspin commented on #148
Thanks for reporting the issue! Fix addresses the missing zero (`0.`) but toPlainString() which actually calls `toStringExpanded` will not work exactly as it does in JVM bigDecimal, it will return `0`, not `0.0`
On the other hand, using normal `toString` will return `0.0`

[2021-02-05 14:55] #148 closed

[2021-02-05 15:04] ionspin commented on #145
Merge #147 handled this issue, I just forgot to mention it there so it didn't auto close.

[2021-02-05 15:04] #145 closed

[2021-02-06 11:21] MikolajKakol opened #150 "Support for watchosx86 was dropped in 0.2.4?"
**Describe the bug**
After upgrade from 0.2.3 to 0.2.4 and updating my project to kotlin 1.4.30 I cannot compile on iOS

**Platform**
 - watchosx86

**Additional context**
Error I've got is:

[code]

[2021-02-06 13:09] ionspin commented on #150
Hi @MikolajKakol there were some issues on Sonatype/Maven Central upload side yesterday that caused several attempts at publishing to fail. I just managed to republish it completely under version 0.2.7, so please use that version. I'll keep this issue open for a couple of days so if anybody bumps into this problem they can see the solution.

https://status.maven.org/incidents/z70skgbq8vgc

[2021-02-06 13:56] ionspin commented on #150
I might have spoken too soon, after looking into this a bit more it seems that something changed with kotlin 1.3.40 and the the `watchos()` build target is now using watchosX64 instead of watchosX86. I need some time to confirm this, but if this is the case I'll add manually watchosX86 build target and publish it in the snapshot version 0.2.8-SNAPSHOT.

[2021-02-06 15:17] ionspin commented on #150
So this is the reason why Kotlin changed the `watchos()` https://youtrack.jetbrains.com/issue/KT-43276
And here is the commit that changed that in 1.4.30 https://github.com/JetBrains/kotlin/commit/d6f54a773076ae566de180581f5fa73e569daf59

I will be adding watchos86 target anyways, it will be available in 0.2.8-SNAPSHOT as soon as GitLab CI finishes after pull request is merged, so in an hour or tw

[2021-02-06 15:29] #150 closed

[2021-02-09 09:19] fullkomnun opened #152 "BigInteger parses invalid strings"
**Describe the bug**
When trying to parse invalid strings using `BigInteger::parseString` it often parses the string successfully
into a numeric value while java's BigInteger throws `NumberFormatException`

**To Reproduce**
Steps to reproduce the behavior:
Invoke `BigInteger.parseString("a")` or `BigInteger.parseString("a", 10)` both return "10" same as if we invoke `BigInteger.parseString("a", 16

[2021-02-09 09:32] fullkomnun opened #153 "Initialising with ByteArray differs from java's BigInteger"
**Describe the bug**
For a specific overflow byte array, initialising creates a different value comapred to java's BigInteger.

**To Reproduce**
Steps to reproduce the behavior:
sample unit test:
[code]

**Expected behavior**
Expected same numeric value as with java's BigInteger but it differs and this test fails.

**Platform**
JVM

**Additional context**
Although i encountered this issue for thes

[2021-02-09 13:06] #153 closed

[2021-02-11 12:40] #152 closed

[2021-02-11 12:44] ionspin commented on #153
@fullkomnun You might be interested to look into https://github.com/ionspin/kotlin-multiplatform-libsodium and https://github.com/ionspin/kotlin-multiplatform-crypto for crypto multiplatform needs. They are not remotely ready for production use at the moment, but you might point out what you need in this early development stage of these two libraries.

[2021-02-13 14:59] okarmazin opened #156 "KDoc comments for RoundingMode.ROUND_HALF_[AWAY/TOWARDS]_ZERO are swapped"
https://github.com/ionspin/kotlin-multiplatform-bignum/blob/fa306ad22a29e6cab5c3ac5641147ec5ce9252fa/bignum/src/commonMain/kotlin/com/ionspin/kotlin/bignum/decimal/DecimalMode.kt#L48

[2021-02-13 22:27] ionspin commented on #156
Thanks for reporting!

[2021-02-13 22:33] #156 closed

[2021-02-15 07:14] fullkomnun commented on #153
Thanks, will take a look.
One of my next goals is having a pure Kotlin multiplatform implementation of ECDSA (mainly with Ethereum's SECP256K1 curve) and I will be using 'kotlin-multiplatform-bignum' for that. I consider porting of [that](https://github.com/starkbank/ecdsa-java) pure java implementation.

[2021-02-15 08:24] ionspin commented on #153
@fullkomnun Just be aware that Kotlin Native (and bignum itself) can be very slow, you might want to use expect/actual mechanism of Kotlin Multiplatform and then use native library when necessarily.

Kotlin native should get faster as it matures though, and bignum has a native version tentatively planned in the future.

[2021-02-15 09:01] fullkomnun commented on #153
The main targets for now are JVM and nodeJS.
The pure kotlin implementation approach vs platform specific (optimised?) implementation is indeed interesting.
BTW, when do you plan to release the next version of bugnum?
We will use it for adoption in [KEthereum](https://github.com/komputing/KEthereum/pull/96).

[2021-02-15 09:04] ionspin commented on #153
I'm waiting for the build to finish for the latest merge and then I'll get to publishing a new release, all in all should be available by the end of the day if Maven Central nexus repo doesn't give me trouble like last time.

[2021-03-06 21:40] william-reed opened #159 "IncorrectDereferenceException while using `BigInteger.fromByteArray` in multiplatform native code"
When using `BigInteger.fromByteArray` from native multiplatform code (iOS specifically) I came upon the error `IncorrectDereferenceException: Trying to access top level value not marked as @ThreadLocal or @SharedImmutable from non-main thread`. The stack trace ultimately points to

[code]
in `Configuration.kt`

It may be as simple as adding the `@SharedImmutable` annotation to that top level value

[2021-03-07 10:36] ionspin commented on #159
Thanks for reporting the issue, and I think you're right, annotation might be good enough, I'll try it out.

[2021-03-07 19:24] ionspin commented on #159
Fixed by #160 Should be available in 0.2.9-SNAPSHOT once the build finishes.

[2021-03-07 19:24] #159 closed

[2021-03-07 19:40] ionspin opened #161 "Invalid decimal mode when using scale"
**Describe the bug**
When using scale a big decimal is created with invalid precision. This later causes certain calculations to fail.
**To Reproduce**
[code]
Results in:
[code]
**Expected behavior**
Decimal mode and scale operatoins behavior is cleared up, and all calculations are correct

**Additional context**
Issue was originally reported via email.

[2021-03-07 20:04] #161 closed

[2021-03-14 14:02] hanabi1224 opened #163 "Performance issue with pidigits"
**Describe the bug**
Background: Pidigits is a problem that mainly measures the performance of big integer implementation, [here](https://benchmarksgame-team.pages.debian.net/benchmarksgame/performance/pidigits.html) or [here](https://another-benchmarks-game.vercel.app/problem/pidigits) are benchmarks for popular languages.

I was trying to benchmark kotlin native with source code [here](https://g

[2021-03-14 18:05] ionspin commented on #163
Hi @hanabi1224,
A s far as I can tell, without going into details of your benchmark code, you are doing everything right. I tried running your benchmark as well, and running the `native` test resulted in 16.5s seconds, `js - legacy` was 12.4s, `js - ir` was 16.5s, and `jvm` was 810ms :smiley:

The multiplatform bignum library has probably a lot of space to improve performance-wise, I already spent

[2021-03-14 18:06] #163 closed

[2021-03-21 11:23] ionspin opened #164 "BigDecimal .toBigDecimal(...) extension functions have confusing behavior"
**Describe the bug**
BigDecimal .toBigDecimal(...) extension functions behave differently if the exponent is supplied or not. If it is, library calls the BigDecimal.fromIntWithExponent(...) method which considers the integer input as a significand. On the other hand if it isn't then the library calls BigDecimal.fromInt(...) method, which considers the integer input as the whole number.

i.e.
[code

[2021-03-23 21:12] #164 closed

[2021-03-25 22:49] avently commented on #163
After looking at these results I started to wait 0.3 version with GNU MP library support:)
I hope you find some time on adapting it and maybe it will be even faster than Java version.

Did you test performance of linked GMP in kotlin/native? I just curios will kotlin/native ruin C performance or not.

[2021-03-26 09:06] ionspin commented on #163
This would be a lot of work, and at the moment I have very limited time to work on the library. Also in the development roadmap this is planned for 0.4.0

To implement native versions you would need to map the current api into `actual/expect` form, add GMP build process to produce libraries for all targets (there is 12 native targets at the moment supported by bignum at the moment), see if there i

[2021-03-31 17:22] avently opened #168 "Incorrect results of calculations"
**Describe the bug**
Hello. I'm migrating to Kotlin/Native and use your BigNum library as `actual` declaration for BigDecimal. on JVM I have Java's BigDecimal. Many of my tests are failing because the result of calculation on Native with your lib is different.
I provide some examples. Since the migration to native is a long process I can't know all possible errors with the calculations because I c

[2021-03-31 17:26] avently commented on #168
Maybe would be a good idea to generate millions of random double's, convert them to strings, create Java's bigdecimal instances and BigNum instances and compare them? It will highlight the difference right after start

[2021-03-31 17:33] avently commented on #168
I see that you fixed at least on of the problems mentioned with decimalPrecision. Is there any snapshot build I can use for testing? Because 0.28 version looks outdated

[2021-03-31 22:32] avently commented on #168
Here is a test class you can copy-paste and check:
[code]

[2021-03-31 22:48] avently commented on #168
The problem that the library mathematically incorrect. I believe that Java's math was reviewed multiple times and since it's used everywhere I suppose that it's correct by default. If results of any other lib does not match with it, the lib doing something wrong.

Right now I've no idea will I use it or not so better to have an expect/actual declaration. I use only a small subset of features, your

[2021-04-01 08:25] ionspin commented on #168
Thanks for the test class, now I see what you are referring to, initially I thought you were talking about string formatting, but you found a bug in rounding code!

[2021-04-01 13:20] ionspin commented on #168
Hopefully this pull request fixes the issues you were seeing, the tests are now passing, and a large test for rounding was a great idea, I fixed several other corner cases where rounding wouldn't return correct results by running it. The fix should be available in 0.3.0-SNAPSHOT as soon as the builds finish.

Once again, thanks for report and the replication test cases!

[2021-04-01 17:45] tadfisher opened #170 "Implement Number"
**Is your feature request related to a problem? Please describe.**

I'm trying to serialize a `BigDecimal` using `kotlinx.serialization` into a JSON-formatted string,** but the library gives me two choices:

1. Convert to a Double before serializing, resulting in IEEE-754-induced precision loss
2. Serialize as a quoted string, breaking compatibility with the receiving deserializer

**Describe the

[2021-04-01 17:55] avently commented on #168
Thanks, you fixed those cases! Found another ones:

[code]

[2021-04-01 18:17] tadfisher commented on #170
Here's a hack I found to make this work:

[code]

[2021-04-01 20:21] ionspin commented on #168
Thanks for those as well! I'll try to solve them over the weekend!

[2021-04-01 20:28] ionspin commented on #170
Hi @tadfisher ,

I actually wanted to implement serialization long time ago, it just slipped my mind. Thanks for the feature request and the workaround, I'll see if I can write a proper solution over the weekend!

[2021-04-01 20:57] ionspin commented on #168
Actually this was just a small regression, fix is on the way.

[2021-04-01 21:16] #168 closed

[2021-04-01 21:19] ionspin commented on #168
Fix is in the master, should be available under 0.3.0-SNAPSHOT once this build is done https://gitlab.com/ionspin-github-ci/kotlin-multiplatform-bignum-ci/-/pipelines/280415338

Sometimes windows runner gets stuck even if the build is successful, so if that happens I'll restart it tomorrow.

Once again  @avently thanks for the report and the test cases!

[2021-04-03 02:53] avently commented on #168
Now all my tests were passed, thank you for such fast fixes!
Where did you learn about math under the hood of the library? I want to learn the lowest level of math that stands behind variable length arithmetic but don't know where to start from. There are many videos in Youtube but maybe you have a short path to the source of such knowledge

[2021-04-03 11:22] ionspin commented on #168
My pleasure!

As far as learning about building the arithmetic library I would say it's hard to find one place, I listed some of the sources I used at the end of the README, like:
[code]
But also by reading from the libraries like GMP, Java BigInteger etc.

Art of Computer programming I mostly just used to get the division algorithm, and I think that my implementation is suboptimal because it reli

[2021-04-03 11:24] ionspin commented on #168
Here you can find Modern Computer Arithmetic downloads https://maths-people.anu.edu.au/~brent/pub/pub226.html

[2021-04-03 12:57] avently commented on #168
Awesome, thanks! The book is my starting point of understanding how similar libs work.

[2021-04-03 16:35] avently commented on #163
I would say that results @hanabi1224 got is not because of Kotlin/Native but because of the lib itself. Maybe, of course, Kotlin/Native gives negative impact but it's minimal. Take a look at the following tests on JVM:

[code]

And the results on old Intel i3 CPU:
[code]

Java's BigDecimal is x31 times faster than BigNum library in multiple tasks (divide, parse, toPlainString). So there is definit

[2021-04-03 18:40] ionspin commented on #163
Hi @avently,

I disagree. Running the same test on jvm took 810 miliseconds, while running it on native took 16.5 seconds. It's significant.

The toString in my library is absolutely terribly implemented, it's probably whats taking the most time in your examples. But I would expect this library to be around 10 or 20 times slower than Java BigInteger.

[2021-04-04 03:03] avently commented on #163
@ionspin yep, kotlin native is slow. Actually I'll rewrite a server part of my app using Nim (I've being working on the server part three years, imaging how large the codebase. But benefits are so sweet). What can be better than real native performance? Nothing :)

[2021-05-03 21:12] cowmanjoe opened #175 "BigDecimal addition producing incorrect results"
**Describe the bug**
When using this library with Kotlin/JS, I've found that incorrect results are produced when adding two BigDecimal numbers together. It appears to put the decimal place in the wrong spot.

**To Reproduce**
Steps to reproduce the behavior:
[code]

z equals 7.0 after this runs.

**Expected behavior**
z should equal 0.00007, or perhaps (but probably not) just a rounded 0 value.

*

[2021-05-03 21:16] ionspin commented on #175
Hi @cowmanjoe could you share which version of the library are you using? This issue (if it is the same issue) was fixed in #174 but the fix is only available in 0.3.1-SNAPSHOT version

[2021-05-03 21:21] cowmanjoe commented on #175
Ah, that's great. I am using 0.2.8. Is there a way to use this snapshot version? It doesn't appear to be present in the maven repository

[2021-05-03 21:22] ionspin commented on #175
Yeah,

[2021-05-03 21:23] #175 closed

[2021-05-03 21:23] cowmanjoe commented on #175
Thank you!

[2021-05-09 18:51] lhoracek opened #176 "Multiply looses precission"
**Describe the bug**
Numbers rounded to specific number of of digits after decimal point multiply incorrectly.

**To Reproduce**
Steps to reproduce the behavior:
[code]

[code]

**Expected behavior**

Result should not loose precision same way java BigDecimal.setScale(2, RoundMode.HALF_UP)
[code]

**Platform**
JVM (commonTest run by `testDebugUnitTest`)

[2021-05-09 19:57] ionspin commented on #176
Multiplication didn't loose precision, roundToDigitPositionAfterDecimalPoint was setting a DecimalMode to the number of digits in the result after rounding which then caused multiplication to round to that decimal mode, which in this case was 3. Still I feel this was completely unexpected behavior of roundToDigitPosition methods, so now #177 will change the behavior so they only apply decimal mode

[2021-05-09 19:58] ionspin commented on #176
Oh btw, the fix will be available in 0.3.1-SNAPSHOT as soon as the gitlab build is completed.

[2021-05-09 20:07] ionspin commented on #176
And also, thanks for reporting!

[2021-05-09 20:17] lhoracek commented on #176
Will test ASAP, but even when I  use `val dm = DecimalMode(99999, RoundingMode.ROUND_HALF_CEILING, 2)`  and create new BigDecimal with `fun BigDecimal.round() = BigDecimal.fromBigDecimal(this, dm)`

[code]

[code]

Are my expectations wrong here?

[2021-05-09 20:26] lhoracek commented on #176
Or better question is "how to properly do it with this lib"? I have to admit I've expected just using setScale the same way I did with java's BigDecimal

[2021-05-09 20:26] ionspin commented on #176
I am not completely sure, I would have to take step through debugger to see what is going on with your sample, but I don't have time right now. Keep in mind that the when using decimal mode with scale, scale overrides the decimal precision so even if you put 9999 the scale 2 is used. DecimalMode API will be changed at some point to be more user friendly, at the moment there are too many pitfalls.

[2021-05-09 20:38] ionspin commented on #176
Your usage `DecimalMode(99999, RoundingMode.ROUND_HALF_AWAY_FROM_ZERO, 2)` would work for scale 2. Again I'm not sure about the order of rounding you are applying without debugging it.

The original cause why this part of the API is not easy to use is because originally the library used only decimal precision, and scale was a later contribution. I'll probably be dropping the decimal precision from

[2021-05-09 21:21] ionspin commented on #176
From a quick test with the latest with the latest build that should be available in the snapshots this could work for you
[code]

[2021-05-09 21:27] lhoracek commented on #176
Just tested it and it works great. Thanks for the quick fix!

[2021-05-09 21:42] lhoracek commented on #176
Can be closed or left until new release is done. 👍

[2021-05-09 21:43] #176 closed

[2021-08-11 20:43] tadfisher opened #184 "BigDecimal.unaryMinus() drops decimalMode"
**Describe the bug**

`abs()` and `negate()` both preserve `decimalMode`, but `unaryMinus()` does not, which is unexpected.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
Perhaps naively, I expect `negate()` to be synonymous with `unaryMinus()`.

**Platform**
JVM

[2021-08-12 18:35] ionspin commented on #184
Thanks for reporting the issue @tadfisher !
The fix will be available in 0.3.2-SNAPSHOT build once the build is complete in an hour or two

[2021-08-20 14:22] dsvdmeer opened #186 "BigInteger.longValue() doesn't take sign into account"
**Describe the bug**
When converting a `BigInteger` with a negative value to a `Long` using `longValue()`, it produces a positive result.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
In the above example, `asLong` should equal `-12`.

**Platform**
 - JVM (Running unit tests)

[2021-08-20 15:38] #186 closed

[2021-08-20 15:49] ionspin commented on #186
@dsvdmeer Thanks for reporting the issue! The fix should be available in snapshot version once the master branch build request is completed, in an hour or so barring any issues.

[2021-09-22 08:20] avjiang opened #188 "Artifact Not Found: Kotlin 1.5.31"
Hi, i am trying to integrate the library with a sample project of KMM application, but couldn't. I am facing ArtifactNotFoundException

[code]

Below is my build.gradle.kts:

[code]
Below is my project build.gradle.kts:

[code]

I am currently using `M1 Mac` with Android Studio:

[code]

What am I missing? Kindly assist please .. Thank you

[2021-09-22 09:06] ionspin commented on #188
Hi @avjiang, usually when Android Studio or IntelliJ Idea report this  "Could not find ... ...-samplessources.jar" it means that you have targets in your project that the library doesn't support. It's really an unhelpful message, but if you run `./gradlew build` from the project root it should give you a more insightful error.

In any case I'm pretty sure the problem is `iosSimulator64()`, it;s a

[2021-09-22 09:07] avjiang commented on #188
Ahh.. understand. Thanks mate for the information! Really appreciate the fast response.

[2021-09-22 09:09] ionspin commented on #188
My pleasure! Let's keep the issue open until I release the version with the new targets and then we can close it.

[2021-09-22 11:24] #188 closed

[2021-09-22 12:19] ionspin commented on #188
Hey @avjiang I've added new targets, they are available in snapshot version 0.3.3-SNAPSHOT. Tell me if you encounter any problems, especially since these new targets are for M1 hardware which I currently don't own. Forgot to say, thanks for reporting the issue in the first place!

[2021-09-27 13:39] avjiang commented on #188
hi @ionspin thanks for the quick progress. in the meantime i am still waiting for the other library to add support for the architecture. so i may not able to test it now. will update u again once i have tested it. thanks!

[2021-10-21 10:08] BenjaminWarnke opened #192 "Improve performance when storing/loading from ByteArrays"
**Additional context**
I am implementing a database. Therefore my use case is:
1. Instantiate a BigInteger once from a String
2. convert it to ByteArray, save it to a File (once!) ... (right now the BigInteger is garbage-collected here)
3. read it many many (million) times from that ByteArray/File
4. do calculations with it (+-*/><= ...)
5. eventually print it as String

**Is your feature request

[2021-10-21 11:27] ionspin commented on #192
I forgot to mention this:

You would incur performance penalty here because hardware is usually optimized for arithmetic operations on words instead of bytes, so you would need at least one conversion from ByteArray to ULongArray which is the backing array in BigNum at the moment.

[2021-11-08 17:29] AlecStrong opened #194 "Release supporting apple silicon"
Hello! Was wondering if we could get a release supporting the Apple silicon targets, it looks like those were added on master but after the most recent release.

[2021-11-08 17:32] ionspin commented on #194
Hi @AlecStrong, a stable release should be out in a couple of days, but until then you can use the snapshot release, which is always the latest master. You can find the instructions for snapshot builds here https://github.com/ionspin/kotlin-multiplatform-bignum#snapshot-builds. I'll close this issue when I release a stable version with apple support.

[2021-11-08 17:33] AlecStrong commented on #194
:+1: appreciate it, thanks

[2021-11-09 14:33] ionspin commented on #194
0.3.3 stable with apple silicon support is out on maven central!

[2021-12-01 21:43] theisenp opened #195 "BigDecimal.divideAndRemainder throws an exception when the exponent is -1"
**Describe the bug**
Calling `BigDecimal.divideAndRemainder` throws an exception when the exponent is `-1` and no explicit `DecimalMode` has been provided.

**To Reproduce**
This statement:
[code]

Throws an exception with a stacktrace like this:
[code]

**Expected behavior**
No exception, correct division/remainder result.

**Platform**
 - All

**Additional context**
The method [creates a default

[2021-12-01 21:47] ionspin commented on #195
Thanks for reporting and for providing additional context, it helps a lot!

[2021-12-01 22:53] #195 closed

[2021-12-01 22:55] ionspin commented on #195
@theisenp fix should be available in an half an hour or so when CI/CD finishes the build. It will be in snapshot version 0.3.4-SNAPSHOT. Once again, thanks for reporting!

[2021-12-02 16:22] theisenp commented on #195
Awesome, thanks for the quick fix!

[2021-12-08 13:45] JoonasC opened #197 "Implement exponentiation of BigDecimals by other BigDecimals"
**Is your feature request related to a problem? Please describe.**
Exponentiation of BigDecimals by other BigDecimals is currently not supported, which forces a conversion to int value meaning precision loss.

**Describe the solution you'd like**
Implement exponentiation of BigDecimals by other BigDecimals.

[2021-12-08 15:33] JoonasC opened #198 "DecimalMode allows negative precision"
Not sure if this is a bug, but DecimalMode allows a negative precision.

[2021-12-08 16:35] ionspin commented on #198
Hi @JoonasC , yeah that's a bug, thanks for reporting!

[2021-12-08 17:10] JoonasC opened #199 "[Question] Lacking advanved math features"
Currently this library is lacking advanced math features, such as sin, cos, sqrt, nroot, log, etc.

Are these within the scope of this library?

If not, what workaround would you suggest?

[2021-12-08 18:12] ionspin commented on #199
Hi @JoonasC ,
This is also related to issue #41.

I'd definitely say that it is in scope of the library, and BigInteger has at least sqrt implemented, but the rest are unfortunately missing. Currently I don't have time to implement them, so contributions are welcome!

As for a workaround, apart from implementing these operations possibly as extension functions or even better contributing them to t

[2021-12-10 15:36] JoonasC opened #200 "Attempting to perform an infinite precision BigDecimal exponentiation"
The readme mentions that division is the only operation which cannot be performed with infinite precision, but the exponentiation feature uses division internally, which therefore makes exponentiation susceptible to the same problems as division.

Is this a documentation issue or a bug?

[2021-12-10 22:57] ionspin commented on #200
Hi @JoonasC, good catch, this is a documentation issue, it should be mentioned that exponentiation with negative exponents has the same limitation as division. The reason for the limitation is that results of some divisions can be infinitely long, i.e. 1/3 = 0.333333... and the library needs to have way to stop instead of calculating to infinity (or more realistically until it runs out of memory)

[2021-12-12 19:12] JoonasC commented on #200
Could you also implement an exponentation method which accepts a decimal mode?

[2021-12-12 21:31] ionspin commented on #200
Sure, I'll look into that as well!

[2021-12-14 15:42] JoonasC opened #201 "Performing two sequential BigDecimal exponentiations hangs"
**Describe the bug**
When performing two sequential BigDecimal exponentiations, the second exponentiation will hang.

**To Reproduce**
Run the following code:
[code]

**Expected behavior**
Both exponentiations complete without issue.

**Platform**
JVM and JS

**Additional context**
For me this occurs on a multiplatform project with the browser JS and JVM targets.

[2021-12-14 15:45] ionspin commented on #201
Thanks for reporting!

[2021-12-19 12:20] ionspin opened #203 "toLongValue returns 0 when 63 least significant bits are 0"
**Describe the bug**
BigInteger 'toLongValue()' is returning zero when the big integer has 63 lowest significant bits that equal to zero.

**To Reproduce**
Steps to reproduce the behavior:

``` BigDecimal.parseStringWithMode("-1.77408E+308", decimalMode).longValue(false); ```

When longValue is invoked, the bigdecimal is multiplied to represent the full integer. This integer has several least sign

[2021-12-19 12:25] ionspin opened #204 "Pow doesnt handle Long.MIN_VALUE special case"
**Describe the bug**
When exponentiation with Long.MIN_VALUE is requested, invalid result is returned. This is caused by using `Long.absoluteValue()' internally, which has the following special case:
[code]
This then causes the loop to be skipped because the range has no elements.

**To Reproduce**
Use `.pow(Long.MIN_VALUE)` and observe immediate return.

**Expected behavior**
Operation is properl

[2021-12-19 12:27] ionspin commented on #204
Specifically this is for BigDecimal

[2021-12-19 12:51] ionspin commented on #201
Hi @JoonasC,
Sorry for getting back to this just now, I didn't have time to tackle it sooner. It did take me some time to unravel what was happening, and I found some other corner cases to fix while looking at this, so that's good.

So on to your example, in the firs case when you are narrowing the b to a long, the result is going to be 0, because the longValue is similar to Javas BigInteger (whic

[2021-12-19 12:51] #201 closed

[2021-12-19 13:20] JoonasC commented on #201
@ionspin Well, what I meant by hanging was that it didn't seem to be terminating. I waited for 30 minutes, but it still wasn't terminating. I think it's safe to assume it would go on forever.

[2021-12-19 13:23] ionspin commented on #201
Could you then clarify what would you like to see the library do?

[2021-12-19 13:31] JoonasC commented on #201
I would expect the library to stop at some point, at the moment though it's not stopping. I'm not on my computer at the moment, but you can try to replace the c and d operation with a and b, essentially performing a and b two times in a row. And if I'm right the second time should also not terminate.

[2021-12-19 13:36] ionspin commented on #201
It's unclear what would be the stopping criteria you are proposing.

I wouldn't expect a long running operation to terminate before it's done with calculations, or it runs out of memory.

[2021-12-19 13:40] JoonasC commented on #201
What I'm saying is that it seems to me like the library goes into an infinite loop, but I might be wrong. I'll need to test this again.

[2021-12-19 13:46] ionspin commented on #201
Ah, that's where our misunderstanding was. Please update here after you test, I unfortunately don't have any more time to work on the library today. Cheers, and have a great rest of the weekend!

[2021-12-19 19:29] #198 closed

[2021-12-19 19:29] #200 closed

[2021-12-19 19:29] #204 closed

[2021-12-22 13:24] JoonasC commented on #201
@ionspin Ok, you were right.

It seems like it just takes a long time.

[2021-12-22 13:24] JoonasC commented on #201
Is it normal for it to take such a long time with a precision of 6 being enforced though?

[2021-12-22 13:27] JoonasC commented on #201
Btw, if you're wondering how I'm getting those values which cause issues, I'm using a testing framework called [Kotest](https://kotest.io/).

Specifically, I'm using the [property tests](https://kotest.io/docs/proptest/property-based-testing.html) feature of Kotest.

[2021-12-22 13:49] ionspin commented on #201
I honestly have no clear picture what would be the acceptable time frame for those values. I tried to replicate using Java, but as I said they won't even let you try exponentiation above that arbitrary looking value (999999999). With that said, there is a LOT of room for improvement regarding time and memory usage, especially when considering divisions, which we have here. You might have more luck

[2021-12-22 16:17] JoonasC opened #206 "[BUG] Exponentiating a zero BigDecimal by any negative long yields division by zero"
**Describe the bug**
Exponentiating a zero BigDecimal by any negative long yields division by zero.

**To Reproduce**
Run the following code:
[code]

**Expected behavior**
Throw a more concise exception, explaining that the negative exponentiation of zero is not defined.

**Platform**
 - JVM

[2021-12-22 18:09] ionspin commented on #206
Thanks!

[2021-12-23 13:37] sergeych opened #207 "BingNumber(str: String) is missing"
It is not just a convenient feature, it is a compatibility issue. The current set of constructors do not let effectively add one, as there is 2 parameters that should come out from parse function at once. So I;d recommend introduce data class like BigNumber.CreationParams(arighmetic,sign) and whatever else might be useful in future, making addition of the string parsing constructor relatively easy

[2021-12-23 13:47] sergeych commented on #207
You can do it also nu including something like:

[code]

in your distribution

[2021-12-23 13:49] sergeych opened #208 "BigInteger should extend Number"
as java's and Kotlin's ones do. It is expected and it causes (from my experience) strange bugs as the replaced BigInteger is not recognized by existing software as a Number.

[2021-12-23 14:35] ionspin commented on #208
Hi @sergeych, can you give me a bit more details on the strange bugs that you encountered?

[2021-12-23 14:44] ionspin commented on #207
Hi @sergeych,

Could you expand on what is it that this library is expected to be compatible with?

The automated builds were successful, and the serialization is kotlinx-serialization version 1.3.1 which is published by jetbrains, could you please share the logs you are seeing?

[2021-12-23 14:50] sergeych commented on #208
For example, we widely use a library that checks the argument as `if( obj is Number ) process(obj.toDouble())` - it is an approach that at least in our companies is very popular. For example, in the core of our blockchain project we check contract's data field to be a Number, also in one very old (2007) binary serialization library (that actually is widely used) there is a code that does not work

[2021-12-23 15:07] ionspin commented on #208
I understand, unfortunately I don't think implementing Number would lead to a good API, as it is just narrowing operations, and could be misleading when used. Since the API is not yet stabilized I'll keep this issue open and have some more time to think about it.

The reasoning why I don't want to implement Number is that I think it would be misleading to quietly narrow from a i.e. 128 bit integer

[2021-12-23 15:11] ionspin commented on #207
Closed by accident, apologies for noise.

[2022-01-03 12:45] JoonasC opened #210 "Debug printing left in code"
**Describe the bug**
When performing big decimal exponentiation, in certain cases the following kinds of messages will be printed out from the library: `RLZ original array : 1536 contains: 1534 zeros`.

**Expected behavior**
Debug printing should not be left into production code.

[2022-01-15 19:04] #206 closed

[2022-01-15 19:04] #210 closed

[2022-01-19 20:11] mihbor opened #212 "BigDecimal floor() throws ArithmeticException if current exponent is negative"
**Describe the bug**
https://github.com/ionspin/kotlin-multiplatform-bignum/blob/main/bignum/src/commonMain/kotlin/com/ionspin/kotlin/bignum/decimal/BigDecimal.kt#L1445
[code]

but DecimalMode doesn't accept neither 0 (with roundingMode != RoundingMode.NONE) nor negative precision.

**To Reproduce**
Steps to reproduce the behavior:
call floor() on a BigDecimal with negative exponent

**Expected be

[2022-01-19 20:12] mihbor commented on #212
A workaround is to instead call `roundToDigitPositionAfterDecimalPoint(0, RoundingMode.FLOOR)`

[2022-01-22 00:40] skolson opened #213 "New 0.3.4 release not published for at least iosarm64 targets"
Have a KMM build that works fine using 0.3.3. But changing the dependency to 0.3.4 causes gradle sync to fail with this error:
[code]
I'm guessing that the IOS builds didn't get published yet? Or had some publish error? I use iosArm64, iosX64, and macosX64, this is just the first I hit. Haven't looked to see how many other targets are missing in 0.3.4

[2022-01-22 10:00] ionspin commented on #213
Hey Steven, thanks for reporting, the reason is:
:man_facepalming: Mac built targets were published with 0.3.5 instead of 0.3.4
I should be able to publish them as 0.3.4, but I'll have to skip 0.3.5 altogether. I'll try to get to that later in the day.

[2022-01-23 11:30] ionspin commented on #213
0.3.4 Mac built is published, everything should be working properly now

[2022-01-23 11:30] #213 closed

[2022-01-31 11:46] ionspin commented on #208
I am closing this as it has been proven several times that narrowing by default causes issues where people are unaware of precision loss. The default behavior now is throw an exception on precision loss when narrowing, and that behavior prevents implementing Number interface which would allow precision loss silently.

[2022-01-31 11:46] #208 closed

[2022-01-31 11:47] #207 closed

[2022-02-10 00:40] sergeych opened #217 "Add non-module based serialization"
using serialization via module is a pain. Could you provide "default" serialization for your classes so we can use it without rewriting so much code? We're professional developers and in our projects there are MANY places where we do de/serialization, and update each place to incorporate your modules is a pain...

[2022-02-10 10:12] ionspin commented on #217
Hi Sergey,

I'm very glad to hear that you are using this library in a professional environment!

Adding kotlinx-serialization to the core bignum library will not happen because not everyone needs serialization and I don't wont to add bloat to the core library.

If you have ideas on how to improve or add default serialization using bignum-serialization-kotlinx modules pull requests are very welcom

[2022-02-10 10:12] #217 closed

[2022-02-16 14:46] ionspin commented on #207
I think I marked it as invalid because BigNumber is an interface so it cant have constructors.

[2022-02-20 17:43] #212 closed

[2022-02-23 09:35] sergeych commented on #207
Oh, I see it now. Thanks for clarifying.

[2022-03-28 13:35] BraisGabin opened #219 "Support Number jsons"
`humanReadableSerializerModule` should allow to parase things like:

[code]

But right now it forces to use `"12.34"`. We shouldn't lose any precision by using a number of json. We shouldn't lose any precision by using `12.34`.

From backend I'm receiving that and with `Moshi` I hadn't any problem. On moshi I read `12.34` as a `String` (even it is a number in the json) and I parse it to `BigDecima

[2022-03-28 13:44] ionspin commented on #219
Hi @BraisGabin as far as I am aware it's not possible to encode it that way without precision loss, and the limitation is on the KotlinX serialization side. You can see the issue regarding this here https://github.com/Kotlin/kotlinx.serialization/issues/1051
Specifically this comment https://github.com/Kotlin/kotlinx.serialization/issues/1051#issuecomment-812130020

I'm closing this issue as there

[2022-03-28 14:04] ionspin commented on #219
Good to know, thanks!

[2022-04-20 04:28] treeseedm opened #222 "scale error,"
scale error, for example
var r = 156.10.toBigDecimal().toStringExpanded()
assertEquals("156.10", r)
the result:
expected:<156.1[0]> but was:<156.1[]>
Expected :156.10
Actual :156.1
I expected keep two decimals，but “toStringExpanded “ will remove "0",then result will be error. please help me,thank you

[2022-04-23 21:54] ionspin commented on #222
Hi @treeseedm, you are making an incorrect presumption that 156.10 when converted to BigDecimal, will have a scale 2, or decimal precision of 5, it will actually have scale 1 and decimal precision of 4. Here is the relevant code when parsing floating point strings (or doubles/floats they all get converted to strings anyways)

[code]

But even if you had a number with proper scale I don't want to a

[2022-04-23 21:54] #222 closed

[2022-05-11 05:16] hakanai commented on #197
Having exp(x) would also make it possible to implement cosh(x), sinh(x), tanh(x) with not much extra effort.

The same is sort of true for sin(x), cos(x), tan(x) as well but you need complex number support for those. ;)

[2022-05-11 06:57] hakanai commented on #41
I had a look at what this might look like in Kotlin and got a mostly-working implementation for sin(x), but the one place I'm not 100% sure of is rounding.

Because it's Kotlin, using lazy sequences seemed like an appropriate way to deal with infinite series.

The general gist:

[code]

And then for sin(x):

[code]

Test:

[code]

The result is _basically_ correct:

[code]

The expected values wer

[2022-05-12 10:27] ionspin commented on #41
Hi @hakanai , thanks for effort, hopefully I'll have some time over weekend to look into this more, but no guarantees. If you make more progress and get a pull request up that would be great!

[2022-05-12 23:45] hakanai commented on #41
I was trying to figure out whether Kotlin had a thread-safe way to cache the values, but it really seems like the core Kotlin class library pretends that multithreading doesn't exist, and to get any kind of synchronisation you have to depend on coroutines or similar. I don't think they considered the possibility that library code might want to be thread-safe while not using multithreading itself!

[2022-05-17 17:14] JesseWo opened #229 "Convert BigDecimal to Double by "doubleValue()" method, get a wrong result"
**Describe the bug**

### Unit Test:
[code]

### Output
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Operation
2. Values to reproduce issue

**Expected behavior**
A clear and concise description of what you expected to happen.

**Platform**
 - [e.g. JVM, JS, Native, iOS, Linux]

**If JS (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]

[2022-05-19 21:26] sproctor opened #231 "ArithmeticException on repeating decimal when scale is set"
`BigDecimal.divide()` should not throw ArithmeticException at https://github.com/ionspin/kotlin-multiplatform-bignum/blob/873a770296389e77e9cb3cbe8b402e05f5b1062b/bignum/src/commonMain/kotlin/com/ionspin/kotlin/bignum/decimal/BigDecimal.kt#L1276 if scale is set.

[2022-05-20 09:36] JesseWo commented on #229
lib version: 0.3.3
1. I have not come across this warning from my Android Studio Chipmunk ｜ 2021.2.1

In addition, the above unit test can be passed if it is reduced by one digit, e.g. `29514.959839357429718`
Thanks for your response!

[2022-05-20 09:40] ionspin commented on #231
Thanks for reporting!

[2022-05-22 10:23] #229 closed

[2022-05-22 13:28] ionspin commented on #229
Hi @JesseWo, I've fixed this issue and the fix will be in build 0.3.6 that is currently rolling out. There was a API change in version 0.3.4 that made `doubleValue()` explicitly require that the exact result is returned, unless you specify that you don't need exact result with `doubleValue(false)`. The reason why we are now requiring is that a lot of people are unaware of the limitations in IEEE 7

[2022-05-22 13:34] ionspin commented on #231
Fixed in 9175878d4b7e6b, will be available in 0.3.7-SNAPSHOT once the build completes.

[2022-05-22 13:34] #231 closed

[2022-05-24 10:32] caffeine-mgn opened #234 "Should I add support of Android Target"
Hi. I can add support of android. But after that for build require Android SDK. What you thinks about that? Can you add android sdk on build stage if I add android build target?

[2022-05-24 11:18] ionspin commented on #234
Hi @caffeine-mgn,

Could you tell me what is the benefit of adding android target? Currently the library is fully usable on Android with `jvm` release as far as I can tell.

[2022-05-26 07:43] hakanai commented on #41
I created #235 with exp, sin, cos, tan, sinh, cosh, tanh, which is about half of what you'd want.

[2022-05-26 07:52] hakanai opened #236 "Support for radices other than 10"
**Is your feature request related to a problem? Please describe.**

The calculator app I've written (not currently using this library, but I'm certainly considering it) currently works in bases 10 and 12, and I'm considering adding support for base 16.

`BigDecimal` is (as the name says) only for base 10, not allowing me to pass in a radix.

**Describe the solution you'd like**

A `BigNumber` clas

[2022-07-02 20:33] MrStahlfelge opened #237 "moveDecimalPoint 9 returns wrong longValue for some BigDecimals"
**Describe the bug**
moveDecimalPoint(9) gives wrong results for some BigDecimals.

**To Reproduce**
The following Unit Test demonstrates the problem:

[code]
It fails on the last line.

**Expected behavior**
Unit Test completing successful.

It works when providing a DecimalMode with a scale.

**Platform**
 - JVM and JS tested with the same error.

[2022-07-04 16:03] MrStahlfelge opened #238 "BigDecimalWhole.isWholeNumber() wrong when DecimalMode set"
**Describe the bug**
BigDecimalWhole.isWholeNumber() wrong when DecimalMode set

**To Reproduce**
[code]

**Platform**
JVM and JS

**Additional context**
Works correct when no DecimalMode is set, but I have to set it to work around #237

[2022-07-04 20:47] ionspin commented on #238
Thanks for reporting both issues!

[2022-08-01 08:16] MrStahlfelge opened #239 "BigDecimal.toPlainString not respecting scale"
BigDecimal does not respect a set scale when printing output with toPlainString, while JVM implementation does.

**To Reproduce**
assertEquals("1.000000", 1000000.toBigDecimal().moveDecimalPoint(-6).scale(6).toPlainString())

Succeeds on JVM, fails with this library ("1" returned instead)

**Expected behavior**
Format with set scale.

Problem caused by `placeADotInStringExpanded` method always tru

[2022-08-01 08:28] MrStahlfelge commented on #238
Thanks for looking into it. Do you think we can expect to get it resolved anytime soon? So far I hoped I don't have to move to another solution as this seemed to be the most mature lib.

[2022-08-01 14:56] ionspin commented on #238
Hi @MrStahlfelge, unfortunately I can't promise anything as I have very limited time to work on my open source projects at the moment. Pull requests solving the issue are welcome!

[2022-08-01 20:11] ionspin commented on #239
Thanks for reporting, you are right it should behave as the JVM counterpart.

[2022-08-01 21:08] ionspin commented on #238
I'll get on #237 tomorrow hopefully.

[2022-08-02 08:34] #237 closed

[2022-08-02 08:34] #238 closed

[2022-08-02 08:34] #239 closed

[2022-08-02 08:38] ionspin commented on #238
Hey @MrStahlfelge , all issues should be fixed, hopefully the CI/CD will finish soon, but I see that Gitlab runner on windows is getting stuck so it might take some time. Once it finishes the fixes will be available in the current snapshot. You can check the progress of the build here https://gitlab.com/ionspin-github-ci/kotlin-multiplatform-bignum-ci/-/pipelines/602529945

[2022-08-03 17:32] MrStahlfelge commented on #238
Thank you so much! Check the fixes - everything working as expected now.

One note for the future release work: unfortunately I am not able to move to the snapshot because it works only on Kotlin 1.6.21, which is not compatible with Jetbrains Compose (latest version 1.1.1 is for Kotlin 1.6.10). Have to wait until they publish a newer version, but this will most likely depend on 1.7.0.

[2022-08-04 14:19] ionspin commented on #238
Yeah, the compose version requirement for a specific kotlin version is quite unfortunate, I am using the dev releases to stay on relatively current kotlin version.

I'll release the new version of the library with the latest kotlin (1.7.0) in a week or so, you can test that with newer dev-1.2.0 compose build

[2022-08-10 00:52] sproctor opened #243 "toPlainString broken in 0.3.7"
**Describe the bug**
`toPlainString` is off by a few orders of magnitude in 0.3.7

**To Reproduce**
I'll just post my tests here because I haven't investigated this too deeply.

[code]
resutls:
[code]
**Expected behavior**
Same output as 0.3.6

**Platform**
 - Android and JVM

[2022-08-10 08:25] ionspin commented on #243
Hi @sproctor , thanks for reporting, I've looked into it, and it looks like everything is working as expected. There were some bugs in 0.3.7 regarding the division that made your code work correctly, but now that they are fixed your `round` function is broken. When you create a decimal mode the way you do, the `decimalPrecision` parameter is 0 and that causes `divide` function to return 0 because

[2022-08-10 11:52] sproctor commented on #243
Sorry for misreporting this issue. toPlainString is my way of getting information out of the API. From my point of view, I had a bunch of code that was working in Java, I ported it to KMP BigNum, it worked, then 0.3.7 broke it. I'm trying to understand what the difference between precision and scale is. The change in 0.3.7 broke all of my conversions. According to the docs 0 precision means unlimi

[2022-08-10 12:12] ionspin opened #244 "Decimal mode is not applied when creating BigDecimal without scale"
**Describe the bug**
BigDecimal init disregards decimal mode when scale is not used

**To Reproduce**
Steps to reproduce the behavior:
1. Create a big decimal with custom decmal mode and no scale

**Expected behavior**
Decimal mode is applied

**Platform**
 - Common

[2022-08-10 12:29] ionspin commented on #243
No worries, as I mentioned decimal precision was a bad idea from the start, but here is an explanation
BigDecimal is just a BigInteger (significand) with a certain exponent,

i.e. significand 34567 and exponent is 2 -> Big integer 3.4567 * 10^2 = 345.67
This number automatically has a precision of 5 because that is how many digits it's significand have.

Heres an example
[code]

If you were to use

[2022-08-10 16:15] sproctor opened #245 "Division test failures are being ignored"
Exceptions thrown from coroutines are not being caught in the test context and so tests are passing despite having failures.

https://github.com/ionspin/kotlin-multiplatform-bignum/blob/main/bignum/src/jvmTest/kotlin/com/ionspin/kotlin/bignum/decimal/BigDecimalJvmTest.kt#L415

This test is failing. If you remove the `launch` it will properly trigger the failure

[2022-08-10 17:13] ionspin commented on #245
Thanks for reporting!

[2022-08-10 18:48] #245 closed

[2022-08-10 18:49] ionspin commented on #244
And as precision is going to be removed, I won't be fixing this as it will be changed in a rewrite

[2022-08-10 18:49] #244 closed

[2022-08-10 19:37] #234 closed

[2022-08-12 02:12] D10NGYANG opened #247 "bigDecimal.doubleValue(true) fail"
**Describe the bug**
[code]
run with jvm result:
[code]
run with js result:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Operation
2. Values to reproduce issue

**Expected behavior**
A clear and concise description of what you expected to happen.

**Platform**
 - [JVM, JS, Native, iOS]

**If JS (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome

[2022-08-12 07:47] ionspin commented on #247
Hi @D10NGYANG
I don't think 12.374 can be represented precisely. Here's a screenshot from https://www.h-schmidt.net/FloatConverter/IEEE754.html

![image](https://user-images.githubusercontent.com/144139/184308970-a31beb00-a1b8-45c6-9804-d34eacce69ad.png)

As you can see 12.374 will be represented as 12.37399959564208984375.

[2022-08-17 16:03] #247 closed

[2022-08-25 22:44] abueide opened #248 "Negative Mod Values"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Operation - Mod
2. Values to reproduce issue

BigInteger(-1) % BigInteger(17) returns -1 as a result

**Expected behavior**
A clear and concise description of what you expected to happen.
16 should be returned as a result

**Platform**
 - [e.g. JVM, JS, Native, iOS, Linux]

[2022-08-25 22:53] abueide commented on #248
Nvm, I just learned % maps to rem() which includes negative. I just need to use the mod function directly, sorry!

[2022-08-25 22:53] #248 closed

[2022-09-10 10:08] abudden commented on #199
I can't offer any help with this as my kotlin skills aren't good enough, but this java BigDecimal repository might be a useful reference source for anyone willing to have a go: https://github.com/eobermuhlner/big-math

[2022-09-13 12:02] hakanai commented on #199
You've seen the PR, right? The code in there is pretty much inspired by theirs. ;)

They too have some very arbitrary magic numbers for how much precision to add for each operation. That's the one thing that made it both hard to understand and unclear how to map to this library.

Sorting out the actual precision requirements for each function is probably the sole thing making it hard.

[2022-09-13 12:07] ionspin commented on #199
Here is the pull request in question, https://github.com/ionspin/kotlin-multiplatform-bignum/pull/235 which I unfortunately still haven't had time to dive into, as it's related to precision refactoring, and I'm trying to launch an MVP for my startup at the same time. Once again, haven't forgotten about it, just no time :(

[2022-09-28 08:27] glureau opened #249 "Provides kotlin collection operators like sumOf (convenience)"
**Is your feature request related to a problem? Please describe.**
Kotlin collections provides helper method like `sumOf { }`, but some methods are defined with the explicit types (there is a `Iterable<T>.sumOf(selector: (T) -> Long): Long` and a `Iterable<T>.sumOf(selector: (T) -> Int): Int` for example).

[code]
It could be nice to provide those methods for BigInteger and BigDecimal.

**Describe

[2022-10-05 20:06] Gaming32 opened #250 "Conversion from java.math"
**Is your feature request related to a problem? Please describe.**
I am unable to obtain a `com.ionspin.kotlin.bignum.integer.BigInteger` from a `java.math.BigInteger`.

**Describe the solution you'd like**
An extension method on `java.math.BigInteger` to perform the conversion.

**Describe alternatives you've considered**
Implementing it myself on each project.

[2022-10-18 20:11] aSemy commented on #219
Hi, just a quick heads up that I'm working on supporting BigDecimal/BigInteger in this PR https://github.com/Kotlin/kotlinx.serialization/pull/2041.

I'm a contributor to KxS, not a maintainer, so I can't give any timescale.

I'd like to be able to help implement support in in this library when it's available! As a preview, you can see the test I wrote for BigDecimal - I expect a serializer for Bi